{% load static %}
<!-- sample modal content -->
<div id="edit_modal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalFullscreenLabel">위치 수정</h5>
            </div>

            <form id="location_form" class="needs-validation" novalidate>
                <input type="hidden" id="wh_id" name="wh_id"/>
                {% csrf_token %}
                <div class="modal-body">
                    <div class="card">
                        <div class="col-xxl-12">
                            <label class="form-label">창고명 <span class="red_font">*</span></label>
                            <input class="form-control" type="text" id="edit_name" name="edit_name" placeholder="창고 이름을 입력해주세요" required/>
                        </div>
                       
                    </div>

                    <div class="card">
                        <div class="col-xxl-12">
                            <label class="form-label">위치</label>
                            <input class="form-control" type="text" id="edit_region" name="edit_region" placeholder="위치를 입력해주세요"/>
                        </div>
                    </div>

                    <div class="card">
                        <div class="row">
                            <div class="col-xxl-6">
                                <label class="form-label">RACK 명</label>
                                <input class="form-control" type="text" id="edit_rack_name" name="edit_rack_name" placeholder="RACK 이름을 입력해주세요"/>
                            </div>

                            <div class="col-xxl-3">
                                <label class="form-label">행</label>
                                <input class="form-control" type="text" id="edit_col" name="edit_col" placeholder="행"/>
                            </div>

                            <div class="col-xxl-3">
                                <label class="form-label">열</label>
                                <input class="form-control" type="text" id="edit_row" name="edit_row" placeholder="열"/>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="col-xxl-12">
                            <label class="form-label">메모</label>
                            <textarea class="form-control" type="text" id="edit_memo" name="edit_memo" placeholder="메모를 입력해주세요"></textarea>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-soft-primary waves-effect waves-light">저장</button>
                    <button type="button" class="btn btn-soft-secondary waves-effect waves-light" data-bs-dismiss="modal">취소</button>
                </div>
            </form>
            
        </div><!-- /.modal-content -->
    </div>
</div>




<script>
    $(document).ready(function () {
        $('#location_form').on('submit', function (event) {
            event.preventDefault();

            // 유효성 검사
            let isValid = true;
            $(this).find(':input[required]').each(function () {
                if ($(this).val().trim() === '') {
                    $(this).addClass('is-invalid');
                    isValid = false;
                } else {
                    $(this).removeClass('is-invalid').addClass('is-valid');
                }
            });

            if (isValid) {
                let formData = $(this).serializeArray();
                formData.push({name: 'csrfmiddlewaretoken', value: $('input[name=csrfmiddlewaretoken]').val()});
                formData.push({name: 'type', value: 'E'});

                $.ajax({
                    url: "{% url 'WarehouseUpdate' %}",
                    type: 'POST',
                    data: formData,
                    success: function (res) {
                        alert(res.message);
                        location.reload()
                    },
                    error: function (xhr, status, error) {
                        alert('오류가 발생했습니다: ' + error);
                    }
                });
            } else {
                console.log('유효성 검사 실패');
            }
        });
    });
</script>