.red_font {
    color: red;
}

button {
    border-radius: 0.25rem !important;
}

.select2-container {
    z-index: 9999;
    width: 100% !important;
}

.select2-selection {
    height: 36px !important;
}

.select2-selection__rendered {
    margin-top: 1%;
}

.select2-selection__arrow {
    margin-top: 1%;
}

.menu-active {
    color: white !important;
    background-color: #284e74; /* 선택된 메뉴의 배경색 */
}