<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    {% include "header.html" %}

</head>
<style>
    #robot_datatable {
        text-align: center;
        vertical-align: middle;
    }
    
    
    .sorting {
        text-align: center !important;
    }
    
    .dataTables_filter {
        text-align: start !important;
    }
    
    .dataTables_filter {
        text-align: start !important;
    }
    
</style>
<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title mb-5">로봇 관리</h4>

                {% csrf_token %}
                <table id="robot_datatable" class="table table-bordered dt-responsive  nowrap w-100 mt-5">
                    <thead>
                    <tr>
                        <th>로봇코드</th>
                        <th>로봇명</th>
                        <th>모델</th>
                        <th>제조사</th>
                        <th>작업위치</th>
                        <th>생성일</th>
                        <th>비고</th>
                    </tr>
                    </thead>
                    
                    <tbody>
                    {% for obj in result %}
                    <tr>
                        <td>{{ obj.code }}</td>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.model }}</td>
                        <td>{{ obj.make_co }}</td>
                        <td>{{ obj.work_loc.name }}</td>
                        <td>{{ obj.created_at|date:"Y-m-d" }}</td>
                        <td>
                            <button type="button" class="btn btn-soft-primary waves-effect waves-light"
                                    onclick="edit_btn('{{ obj.id }}', '{{ obj.name }}', '{{ obj.code }}', '{{ obj.model }}', '{{ obj.make_co }}',
                                            '{{ obj.work_loc.id }}', '{{ obj.memo }}')">
                                <i class="bx bx-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-soft-danger waves-effect waves-light"
                                    onclick="delete_btn('{{ obj.id }}')">
                                <i class="bx bxs-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'Robot/Mgmt/create_modal.html' %}
                {% include 'Robot/Mgmt/edit_modal.html' %}
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% include 'footer.html' %}
<script>
    let user_table = null;

    $(document).ready(function () {
        user_table = $('#robot_datatable').DataTable({
            lengthChange: false,
            searching: true,
            dom: '<"row"<"col-sm-12 col-md-6"f><"col-sm-12 col-md-6 text-end"B>>' + // 'f'를 추가하여 검색란 표시
                '<"row"<"col-sm-12"tr>>' +
                '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            buttons: [
                {
                    extend: 'excel',
                    text: '엑셀 내보내기',
                    className: 'btn btn-success me-3',
                },
                {
                    text: '+ 로봇 추가',
                    className: 'btn btn-info waves-effect waves-light',
                    attr: {
                        'data-bs-toggle': 'modal',
                        'data-bs-target': '#create_modal'
                    },
                    action: function (e, dt, node, config) {
                        $('#create_modal').modal('show');
                    }
                }
            ],
            // rowId: select_item,
            language: {
                search: "_INPUT_",  // search 문구를 입력 필드로 대체
                searchPlaceholder: "검색어를 입력해주세요", // placeholder 추가
                emptyTable: "등록된 데이터가 없습니다."
            },
            initComplete: function (settings, json) {
                $('.dataTables_filter input').removeClass('form-control-sm');
                $('.dataTables_filter label').addClass('col-lg-6');
                $('.dataTables_filter input').css('width', '100%');
            }
        });
    });
    
    function edit_btn(id, name, code, model, make_co, work_loc, memo) {
        $("#robot_id").val(id)
        $("#edit_name").val(name)
        $("#edit_code").val(code)
        $("#edit_model").val(model)
        $("#edit_make_co").val(make_co)
        $("#edit_work_loc").val(work_loc)
        $("#edit_memo").val(memo)
        $("#edit_modal").modal('show')
    }
    
    function delete_btn(id) {
        const formData = new FormData();
        formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
        formData.append('type', 'D');
        formData.append('robot_id', id);
        
        SweetConfirmDelete("{% url 'UpdateRobot' %}", "POST", formData)
    }
</script>
</body>
</html>