<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    {% include "header.html" %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<style>
    th:first-child .sorting,
    th:first-child .sorting_asc,
    th:first-child .sorting_desc {
        display: none !important;
    }

    #material_datatable th, tbody {
        text-align: center;
        vertical-align: middle !important;
    }
    
    .dataTables_filter {
        display: flex;
    }
    
    .dataTables_filter input {
        height: 35px;
        width: 260px !important;
        margin-left: 0 !important;
    }
    
    #material_datatable tbody tr {
        cursor: pointer;
    }
</style>
<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="row mt-2">
        <!-- 마스터 레이아웃 (왼쪽 테이블) -->
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title mb-5">재고 조정</h4>
                    <table id="material_datatable" class="table align-middle mb-0 table-nowrap nowrap w-100 mt-5 dt-responsive">
                            <thead class="table-light">
                            <tr>
                                <th style="width: 3%;">순번</th>
                                <th>품번</th>
                                <th>품목</th>
                                <th>유형</th>
                                <th>단위</th>
                                <th>수량</th>
                                <th>속성</th>
                                <th>위치</th>
                            </tr>
                            </thead>
                            <tbody id="material-table-body">
                                
                            </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- 디테일 레이아웃 (오른쪽 상세 정보) -->
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title mb-5">상세 정보</h4>
                    </div>
                    {% csrf_token %}
                    <div id="item-detail">
                        <p>왼쪽 테이블에서 항목을 선택하세요.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'Material/adjustment/edit_cnt.html' %}
{% include 'Material/adjustment/edit_wh.html' %}
{% include 'footer.html' %}
{#<script src="{% static 'skote/assets/js/pages/job-grid-list.init.js' %}"></script>#}
<script>

    let material_table = null;
    let detail_item_data = {};

    $(document).ready(function () {
        material_table = $('#material_datatable').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "{% url 'GetStock' %}",
                type: "POST",
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
            },
            lengthChange: false,
            searching: true,
            dom: '<"row"<"col-sm-12 d-flex justify-content-start"lfB>>' +
                '<"row"<"col-sm-12"tr>>' +
                '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            buttons: [
                {
                    text: '보유 중',
                    className: 'btn btn-soft-info waves-effect waves-light ms-2 me-2 possess-check-button',
                    action: function (e, dt, node, config) {
                        var $checkbox = $('.possess-check-button input[type="checkbox"]');
                        $checkbox.prop('checked', !$checkbox.prop('checked'));
                    }
                },
            ],
            columns: [
                {   // 순번
                    data: null, orderable: false, searchable: false, render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                {data: "item_code", name: "item_code"},
                {data: "item_name", name: "item_name"},
                {data: "item_type", name: "item_type"},
                {data: "unitname", name: "unitname"},
                {data: "quantity", name: "quantity"},
                {data: "in_type", name: "in_type"},
                {data: "wh_name", name: "wh_name"},
            ],
            language: {
                search: "_INPUT_",
                searchPlaceholder: "품목형, 유형, 속성 검색",
                emptyTable: "입고서를 먼저 작성해주세요."
            },
            drawCallback: function () {
                $('#material_datatable th:first-child').removeClass('sorting sorting_asc sorting_desc');
            },
            initComplete: function () {
                $('.dataTables_filter input').addClass('form-control');
                // 사용자 정의 HTML을 버튼에 추가
                $('.possess-check-button').html('<input type="checkbox" id="possess_check"> 보유 중');

                // 체크박스 클릭 이벤트 처리
                $('.possess-check-button input[type="checkbox"]').on('click', function (e) {
                    e.stopPropagation();  // 버튼 클릭 이벤트 전파 중지
                });

                // 테이블 행 클릭 이벤트 추가
                $('#material_datatable tbody').on('click', 'tr', function () {
                    var data = material_table.row(this).data();
                    read_full_modal(data)
                });
            }
        });
    });
    
    // 디테일 레이아웃 데이터 랜더링
    function read_full_modal(data) {
        detail_item_data = data
        console.log('detail_item_data', detail_item_data)
        $("#detail_dropdown").show()

        const detailHtml = `
    <div class="table-responsive" id="item_detail_table">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">품목명</th>
                    <td>${data.item_name}</td>
                </tr>
                <tr>
                    <th scope="row">품목코드</th>
                    <td>${data.item_code}</td>
                </tr>
                <tr>
                    <th scope="row">품목유형</th>
                    <td>${data.item_type}</td>
                </tr>
                <tr>
                    <th scope="row">현재수량</th>
                    <td>${data.quantity}</td>
                </tr>
                <tr>
                    <th scope="row">위치</th>
                    <td>${data.wh_name}</td>
                </tr>
                <tr>
                    <th scope="row">규격</th>
                    <td>${data.standard}</td>
                </tr>
                <tr>
                    <th scope="row">모델</th>
                    <td>${data.model}</td>
                </tr>
                <tr>
                    <th scope="row">카테고리</th>
                    <td>${data.category}</td>
                </tr>
                <tr>
                    <th scope="row">속성</th>
                    <td>${data.uprice_type}</td>
                </tr>
            </tbody>
        </table>
        {% if user_permissions == "Admin" or user_permissions == "Member" %}
        <div class="d-flex justify-content-center pt-5">
            <button type="button" class="btn btn-success waves-effect waves-light me-3" style="width: 15%" onclick="edit_item()">조정</button>
            <button type="button" class="btn btn-info waves-effect waves-light ms-3" style="width: 15%" onclick="move_item()">이동</button>
        </div>
        {% endif %}
    </div>
    `;
        $('#item-detail').html(detailHtml);
    }

    // 조정 버튼
    function edit_item() {
        $("#adjust_modal").modal('show')
        $("#current_quan").val(detail_item_data.quantity)
        $("#hidden_item_id").val(detail_item_data.item_id)
    }
    
    // 이동 버튼
    function move_item() {
        // console.log('detail_item_data', detail_item_data)
        $.ajax({
            url: "{% url 'GetWarehouse' %}",
            type: "GET",
            success: function (res) {
                console.log('wh', res);
                var select = $("#move_location");
                select.empty();
                select.append('<option value="">창고를 선택하세요</option>');

                res.result.forEach(function (warehouse) {
                    var option = $('<option></option>')
                        .attr('value', warehouse.id)
                        .text(warehouse.name + ' (' + warehouse.region + ')');

                    if (detail_item_data && detail_item_data.wh === warehouse.id) {
                        option.attr('selected', 'selected');
                    }

                    select.append(option);
                });
                $("#current_location").val(detail_item_data.wh_name)
                $("#edit_location_modal").modal('show')
            },
            error: function () {

            }
        })
    }
    
    /*
    // DataTable 렌더링
    function drawData() {
        $.ajax({
            url: "{% url 'GetStock' %}",
            type: "POST",
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            success: function (res) {
                console.log('res', res.data);
                let drawData = formatData(res.data);
                material_table.clear().rows.add(drawData).draw();
            }
        })
    }
    
    function formatData(results) {
        console.log('fromdata 함수', results)
        return results.map(result => ({
            item_code: result.item_code,
            item_name: result.item_name,
            item_type: result.item_type,
            unitname: result.unitname,
            quantity: result.quantity,
            in_type: result.in_type || result.out_type,  // in_type이 없으면 out_type 사용
            wh_name: result.wh_name,
        }));
    }
    */
</script>
</body>
</html>