<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    {% include "header.html" %}
</head>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center mb-5">
                                <h1 class="display-2 fw-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>3</h1>
                                <h4 class="text-uppercase">접근 권한이 없습니다.</h4>
                                <h4 class="text-uppercase">'설정메뉴'는 관리자(Admin) 권한만 접근할 수 있습니다.</h4>
                                <div class="mt-5 text-center">
                                    <a class="btn btn-primary waves-effect waves-light" href="/" onclick="a_click()">메인페이지로 이동</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-xl-6">
                            <div>
                                <img src="{% static 'skote/assets/images/error-img.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% include 'footer.html' %}
<script>
    function a_click() {
        window.top.location.reload();
    }
</script>
</body>
</html>
