{% load static %}

<meta charset="utf-8">

<!-- JAVASCRIPT -->
<script src="{% static 'skote/assets/libs/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'skote/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'skote/assets/libs/metismenu/metisMenu.min.js' %}" type="text/javascript"></script>
<script src="{% static 'skote/assets/libs/simplebar/simplebar.min.js' %}" type="text/javascript"></script>
<script src="{% static 'skote/assets/libs/node-waves/waves.min.js' %}" type="text/javascript"></script>

<script src="{% static 'skote/assets/libs/select2/js/select2.min.js' %}"></script>

<!-- Required datatable js -->
<script src="{% static 'skote/assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'skote/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'skote/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'skote/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'skote/assets/libs/jszip/jszip.min.js' %}"></script>
<script src="{% static 'skote/assets/libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'skote/assets/libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'skote/assets/libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'skote/assets/libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'skote/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{% static 'skote/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'skote/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- datePicker -->
<script src="{% static 'skote/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<!-- Datatable init js -->
<script src="{% static 'skote/assets/js/pages/datatables.init.js' %}"></script> 
<script src="{% static 'skote/assets/libs/table-edits/build/table-edits.min.js' %}"></script>
<script src="{% static 'skote/assets/js/pages/table-editable.int.js' %}"></script>

<!-- common.js -->
{#<script src="{% static 'js/common.js' %}"></script>#}

