<!DOCTYPE html>

<html lang="en">
<head>
    {% block title %}
        <title>Seoul Soft MES</title>
    {% endblock title %} {% include 'header.html' %}
{% load static %}

</head>
<body data-sidebar="dark">
    <div id="layout-wrapper">


        {% include 'header-menu.html' %}
        <!-- sidebar menu area start -->
        {% include 'sub-menu.html' %}
        <!-- sidebar menu area end -->
        <div id="content" class="main-content" >
            <div class="page-content">
                
                <!-- sub_menu가 선택되지 않았을 때 보이고 선택하면 숨겨야 함. -->
                {% include 'dashboard.html' %}
                
                <div class="container-fluid" id="tab_container" style="display: none">
                    <!-- start page title -->
                    <div class="row-no-gutters">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-11">
                                    <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist" id="tab_header-list">

                                        </ul>
                                    </div>
                                    <div class="col-xl-1">
                                           <button type="button" class="btn btn-flat btn-outline-secondary mt-3" 
                                                   onclick="tab_delete_all();">Tab 전체삭제
                                           </button>
                                    </div>
                                </div>

                                <!-- Tab panes -->
                                <div class="tab-content" id="tab_content-list">

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- main content area start -->
    </div>

    {% include 'footer.html' %}

    <!-- apexcharts -->
    <script src="{% static 'skote/assets/libs/apexcharts/apexcharts.min.js' %}" type="text/javascript"></script>

    <!-- dashboard init -->
    <script src="{% static 'skote/assets/js/pages/dashboard.init.js' %}" type="text/javascript"></script>

    <!-- App js -->
    <script src="{% static 'skote/assets/js/app.js' %}" type="text/javascript"></script>


</body>
<script>

    let dom_store = {};

    function url_click(url, _title, _name) {
        let target = null;

        let tabs = $("#tab_header-list .nav-item .nav-link");

        let title_name = $("." + _title + ":first").text();
            $('#page_title').text(_name);


        for (let i = 0; i < tabs.length; i++) {
            // to get already-loaded one.

            if (_title.substring(0, 2) == 'sm') {
                let tab_title_num = tabs[i].id.replace("tab_header-", "");

                let _title_num = _title.replace("sm-", "");

                if (tab_title_num === _title_num) {
                    target = tabs[i];
                    break;
                }
            } else {
                let tab_title = tabs[i].text.replace("×", "").trim();
                if (tab_title === _title) {
                    target = tabs[i];
                    break;
                }
            }
        }
        if (target === null) {

            detach_all();

            $(tab_add(url, _title, _name)).append(

                '<iframe src="' +
                url +
                '"style="border:none; width: 100%; height: 100%;" ></iframe>'
            );

        } else {
            // if title 검사 => 있으면 그쪽으로 focus
            $('.nav-link.active').removeClass('active');
            $('.tab-pane.active').removeClass('active show');

            $("#" + target.id).addClass('active')
            $("#tab_content-"+_title.replace("sm-", "")).addClass('active show')
            //$("#" + target.id).click();
            //console.log("#" + target.id);


        }
    }


    function detach_all() {
        let tabs = $("#tab_header-list .nav-item .nav-link");
        //console.log('tabs', tabs)

        for (let i = 0; i < tabs.length; i++) {
            let tab_title = tabs[i].text.replace("×", "").trim();
            let idx = title2num(tab_title);
            let dom = $("#container-" + idx);

            dom.css("display", "none");
            // if (dom.length > 0) dom_store[idx] = dom.detach();
        }
    }

    function load_detached(url, title) {
        detach_all();

        let idx = title2num(title);
        $("#container-" + idx).css("display", "block");
        // $('#tab_content-' + idx).append(dom_store[idx]);
        // delete dom_store[idx];

        // call reload function of attached content. no way...
        let target = $("#tab_content-" + idx + " iframe");
        if (target.length === 1) target[0].contentWindow.location.reload(true);
    }

    <!-- 넘버링 규칙 : Tab 생성시 사용됨. 권한 쪽과 동일하도록 사용하는게 좋을 듯, 지금은 매칭 안되어있음-->
    function title2num(title) {
        let num;
        let parts = title.split("-");
        if (parts[0] === "sm"){
            num = parts[1];
        }else{
            num = title;
        }
        return num;
    }


    function tab_add(url, title, name) {
        let tab_now_add = title2num(title);

        let title_name = '';

        if (title.substring(0, 2) == 'sm') {

            //title_name = $("." + title + ":first").text();
            title_name = name;

        } else {
            title_name = name;
        }

        let tab_header =
            '<li class="nav-item" role="presentation" id="tab_' +
            tab_now_add +
            '">\n' +
            '    <a class="nav-link" id="tab_header-' +
            tab_now_add +
            '" data-bs-toggle="tab" href="#tab_content-' +
            tab_now_add +
            '"\n' +
            '         role="tab" aria-selected="true">\n' +
            {% comment %}"         onclick=\"load_detached('" +
            url +
            "', '" +
            title +
            "');\">" +{% endcomment %}

            title_name +
            '<span class="tab_closer">&emsp;&times;</span>\n' +
            "    </a>\n" +
            "</li>";
        let tab_content =
            '<div class="tab-pane active show" id="tab_content-' +
            tab_now_add +
            '" role="tabpanel" style="height: 150vh; overflow: hidden;"' +

            '">\n' +

            "</div>";
        $("#tab_header-list").append(tab_header);
        $("#tab_content-list").append(tab_content);
        $("#tab_header-" + tab_now_add + " span.tab_closer").click(() => {
            tab_delete(tab_now_add);
        });
        //생성된 탭 활성화
        $('.nav-link.active').removeClass('active');
        $('.tab-pane.active').removeClass('active show');

        $("#tab_header-" + tab_now_add).addClass('active')
        $("#tab_content-"+tab_now_add).addClass('active show')
        //$("#tab_header-" + tab_now_add).click();
        return "#tab_content-" + tab_now_add;
    }

    /*
    function tab_delete(tab_num) {
        $("#tab_" + tab_num).remove("#tab_header-list .nav-item");
        $("#tab_content-" + tab_num).remove("#tab_content-list .tab-pane");

        delete dom_store[tab_num];
    }
     */

    function tab_delete(tab_num) {
        const isActiveTab = $("#tab_header-" + tab_num).hasClass('active');

        // 삭제할 탭
        const $tabToRemove = $("#tab_" + tab_num);
        const $contentToRemove = $("#tab_content-" + tab_num);

        // 이전 탭
        const $prevTab = $tabToRemove.prev('.nav-item');
        const $prevContent = $contentToRemove.prev('.tab-pane');
        
        $tabToRemove.remove();
        $contentToRemove.remove();
        
        delete dom_store[tab_num];

        if (isActiveTab) {
            if ($prevTab.length) {
                const prevTabId = $prevTab.find('.nav-link').attr('id').replace('tab_header-', '');

                // 이전 탭 활성화
                $prevTab.find('.nav-link').addClass('active');
                $prevContent.addClass('active show');

                // 페이지 타이틀 업데이트
                const prevTabTitle = $prevTab.find('.nav-link').text().replace('×', '').trim();
                $('#page_title').text(prevTabTitle);
            } else {
                // 이전 탭이 없는 경우 다음 탭 활성화
                const $nextTab = $(".nav-item").first();
                if ($nextTab.length) {
                    const nextTabId = $nextTab.find('.nav-link').attr('id').replace('tab_header-', '');
                    $nextTab.find('.nav-link').addClass('active');
                    $("#tab_content-" + nextTabId).addClass('active show');

                    // 페이지 타이틀 업데이트 (옵션)
                    const nextTabTitle = $nextTab.find('.nav-link').text().replace('×', '').trim();
                    $('#page_title').text(nextTabTitle);
                }
            }
        }

        // 모든 탭 닫으면 대시보드 출력
        if ($(".nav-item").length === 0) {
            $("#dashboard_content").show();
            $("#tab_container").hide();
        }
    }

    function tab_delete_all() {
        $("#tab_header-list").empty();
        $("#tab_content-list").empty();
        dom_store = {};
        //console.log("All tabs are deleted");
    }

    // let not_active_setting_time = 10 * 60;
    // let time_checker = null;

    // init_timer = function () {
    //   if (window.event) {
    //     not_active_setting_time = 10 * 60 * 600000;
    //     // console.log("사용자 작업중")
    //     clearTimeout(time_checker);
    //   }
    //   if (not_active_setting_time > 0) {
    //     not_active_setting_time--;
    //     time_checker = setTimeout("init_timer()", 1000);

    //     // console.log("not_active_time :: ", not_active_setting_time);
    //     // console.log("time_checker :: ",time_checker);
    //   } else {
    //     clearTimeout(time_checker);
    //     flush_token();
    //     alert("장시간 미사용으로 자동 로그아웃 처리되었습니다.");
    //     top.location.replace("/");
    //   }
    // };

    // onload = init_timer;
    // document.onclick = init_timer;
    // document.onkeypress = init_timer;
    const dragArea = document.querySelector("#tab_header-list");
    //new Sortable(dragArea, {
    //    animation: 350
    //});

    // 디폴트로 index.html 대신 dashboard.html 보여줌
    //window.onload = function () {
      //  url_click('/dashboard/', 'dashboard', '대시보드');
    //};

    $(document).ready(function () {
        function showDashboard() {
            $("#dashboard_content").show();
            $("#tab_container").hide();
        }

        function hideDashboard() {
            $("#dashboard_content").hide();
            $("#tab_container").show();
        }

        var $sideMenu = $("#side-menu");

        $sideMenu.on("click", "a", function () {
            hideDashboard();
        });

        if ($sideMenu.find(".active").length) {
            hideDashboard();
        } else {
            showDashboard();
        }
    });
</script>
</html>
