<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>LOG IN  | Seoulsoft WMS Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Seoulsoft WMS Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    {% load static %}
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="{% static 'skote/assets/libs/owl.carousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'skote/assets/libs/owl.carousel/assets/owl.theme.default.min.css' %}">

    {% include 'header.html' %}
</head>
<body class="auth-body-bg">
<div>
            <div class="container-fluid p-0">
                <div class="row g-0">

                    <div class="col-xl-9">
                        <div class="auth-full-bg pt-lg-5 p-4">
                            <div class="w-100">
                                <div class="bg-overlay"></div>
                                <div class="d-flex h-100 flex-column">

                                    <div class="p-4 mt-auto">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-7">
                                                <div class="text-center">

                                                    <h4 class="mb-3"><i class="bx bxs-quote-alt-left text-primary h1 align-middle me-3"></i><span class="text-primary">DVE MES</span>+ Satisfied clients</h4>

                                                    <div dir="ltr">
                                                        <div class="owl-carousel owl-theme auth-review-carousel" id="auth-review-carousel">
                                                            <div class="item">
                                                                <div class="py-3">
                                                                    <p class="font-size-16 mb-4">" Fantastic theme with a ton of options. If you just want the HTML to integrate with your project, then this is the package. You can find the files in the 'dist' folder...no need to install git and all the other stuff the documentation talks about. "</p>

                                                                    <div>
                                                                        <h4 class="font-size-16 text-primary">Abs1981</h4>
                                                                        <p class="font-size-14 mb-0">- Skote User</p>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="item">
                                                                <div class="py-3">
                                                                    <p class="font-size-16 mb-4">" If Every Vendor on Envato are as supportive as Themesbrand, Development with be a nice experience. You guys are Wonderful. Keep us the good work. "</p>

                                                                    <div>
                                                                        <h4 class="font-size-16 text-primary">nezerious</h4>
                                                                        <p class="font-size-14 mb-0">- Skote User</p>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xl-3">
                        <div class="auth-full-page-content p-md-5 p-4">
                            <div class="w-100">

                                <div class="d-flex flex-column h-100">
                                    <div class="mb-4 mb-md-5">
                                        <a href="" class="d-block card-logo">
                                            <img src="{% static 'img/seoul_logo.png' %}" alt="" height="75" class="card-logo-dark">
                                            {% comment %}<img src="assets/images/logo-light.png" alt="" height="18" class="card-logo-light">{% endcomment %}
                                        </a>
                                    </div>
                                    <div class="my-auto">

                                        <div>
                                            <h5 class="text-primary">어서오세요 !</h5>
                                            <p class="text-muted">WMS를 이용하려면 로그인이 필요합니다.</p>
{#                                            <h6 class="text-muted"><b>회원이 아니시면 <a href="{% url 'sign_up_page' %}">여기</a>를 눌러 회원가입을 해주세요.</b></h6>#}
                                            <h6 class="text-muted"><b>회원이 아니시면 <a href="{% url 'sign_up_add_info_page' %}">여기</a>를 눌러 회원가입을 해주세요.</b></h6>
                                        </div>

                                        <div class="mt-4">
                                            <form id="login" method="POST" onsubmit="return frm_check();">

                                                <div class="mb-3">
                                                    <label for="username" class="form-label">아이디 (이메일)</label>
                                                    <input type="text" class="form-control" id="username" name="username" placeholder="아이디 (이메일)을 입력해주세요.">
                                                </div>

                                                <div class="mb-3">
                                                    <div class="float-end">
                                                        {% comment %}<a href="auth-recoverpw-2.html" class="text-muted">Forgot password?</a>{% endcomment %}
                                                    </div>
                                                    <label class="form-label">비밀번호</label>
                                                    <div class="input-group auth-pass-inputgroup">
                                                        <input type="password" class="form-control" name="password" placeholder="비밀번호를 입력해주세요." aria-label="Password" aria-describedby="password-addon">
                                                        <button class="btn btn-light " type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                                                    </div>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="defaultInline1">
                                                    <label class="form-check-label" for="remember-check">
                                                        아이디 기억하기
                                                    </label>
                                                </div>

                                                <div class="mt-3 d-grid">
                                                    <button class="btn btn-primary waves-effect waves-light" type="submit">로그인</button>
                                                </div>
                                            </form>

                                            <div class="mt-4 text-center">
                                                    <h5 class="font-size-14 mb-3">Sign in with</h5>

                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <a href="http://www.seoul-soft.com/" class="social-list-item bg-primary text-white border-primary">
                                                                <i class="mdi mdi-blogger" ></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="http://www.seoul-soft.com/" class="social-list-item bg-info text-white border-info" target="_blank">
                                                                <i class="mdi mdi-home"></i>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>

                                        </div>
                                    </div>

                                    <div class="mt-4 mt-md-5 text-center">
                                        <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> made with <i class="mdi mdi-heart text-danger"></i> by Seoulsoft</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </div>

{% include 'footer.html' %}

        <!-- owl.carousel js -->
    <script src="{% static 'skote/assets/libs/owl.carousel/owl.carousel.min.js' %}" type="text/javascript"></script>


        <!-- auth-2-carousel init -->
    <script src="{% static 'skote/assets/js/pages/auth-2-carousel.init.js' %}" type="text/javascript"></script>


<script>
    // If you have an access token in the cookie (but this save-at-cookie feature must be modified in the future)
    // pass login page and redirect view to the codemaster.
    // Note that you must make a logic that redirect an un-authorized user to login page.
    if (get_token() !== "") {
        //window.location.href = "/admins/index/"; // TODO:
        window.location.href = "/"; // TODO:
    }

    $(function() {
           fnInit();
     });

     function frm_check(){
         saveid();
     }

    function fnInit(){
        var cookieid = getCookie("saveid");
        if(cookieid !=""){
            $("input:checkbox[id='defaultInline1']").prop("checked", true);
            $("#login [name='username']").val(cookieid);
        }

    }

    function setCookie(name, value, expiredays) {
        var todayDate = new Date();
        todayDate.setTime(todayDate.getTime() + 0);
        if(todayDate > expiredays){
            document.cookie = name + "=" + escape(value) + "; path=/; expires=" + expiredays + ";";
        }else if(todayDate < expiredays){
            todayDate.setDate(todayDate.getDate() + expiredays);
            document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";";
        }


    }

    function getCookie(Name) {
        var search = Name + "=";

        if (document.cookie.length > 0) { // 쿠키가 설정되어 있다면
            offset = document.cookie.indexOf(search);
            if (offset != -1) { // 쿠키가 존재하면
                offset += search.length;
                // set index of beginning of value
                end = document.cookie.indexOf(";", offset);
                // 쿠키 값의 마지막 위치 인덱스 번호 설정
                if (end == -1)
                    end = document.cookie.length;

                return unescape(document.cookie.substring(offset, end));
            }
        }
        return "";
    }

    function saveid() {
        var expdate = new Date();
        if ($("#defaultInline1").is(":checked")){
            expdate.setTime(expdate.getTime() + 1000 * 3600 * 24 * 30);
            setCookie("saveid", $("#login [name='username']").val(), expdate);
            }else{
           expdate.setTime(expdate.getTime() - 1000 * 3600 * 24 * 30);
            setCookie("saveid", $("#login [name='username']").val(), expdate);

        }
    }

    // An example to login using /users/login/ API endpoint.
    // It will ends up with putting api token to cookies.
    // Note that processing CSRF token is not scope of this example.
    $("#login").submit(function (event) {
        // get vals
        let username = $('#login [name="username"]').val();
        let password = $('#login [name="password"]').val();

        // KPI 로그인
        let paramData = {"companyCode": "1210598790"};  //소공인 회사코드(사업자번호 10자리)
        let session_id = "";
       {% comment %} jQuery.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8", url: "http://smart-kpi.kr:7000/kpi/login",
            data: JSON.stringify(paramData), dataType: "json",
            success: function (data) {
                console.log(data);

                console.log(data.status);
                console.log(data.companyCode);
                console.log(data.companyName);
                console.log(data.sessionId);

                session_id = data.sessionId;

                // KPI Level-1
                let paramData1 =
                    {
                        "sessionId": session_id,

                        "kpiDate": "2021-10-25",
                        "activeUserCnt": 10,
                        "systemMenuCnt": 50,
                        "activeModuleCnt": 33,
                        "tableCnt": 75,
                        "recordCnt": 123
                    };
                jQuery.ajax({
                    type: "post",
                    contentType: "application/json; charset=utf-8", url: "http://smart-kpi.kr:7000/kpi/level1/create",
                    data: JSON.stringify(paramData1), dataType: "json",
                    success: function (data) {
                        console.log(data);

                    },
                    complete: function (data) {
                        console.log('complete');
                    },
                    error: function (xhr, status, error) {
                        console.log('error');
                        console.log(error);
                    }
                });

            },
            complete: function (data) {
                console.log('complete');
            },
            error: function (xhr, status, error) {
                console.log('error');
                console.log(error);
            }
        });{% endcomment %}



        // call login api
        api_login(
            username,
            password,
            () => {
                window.location.href = "/"; // TODO:
            },
            handle_error,
            (xhr, status) => {
            }
        );

        event.preventDefault();
    });
</script>
</body>
</html>
