{% load static %}
<style>
    
    #item_table th, tbody {
        text-align: center;
        vertical-align: middle !important;
    }

    #item_table th {
        background-color: #eeeeee;
    }
    
    .modal_checkbox {
        transform: scale(1.5);
    }

    .file-upload {
        display: none;
    }

    .bx-upload-label {
        cursor: pointer;
        margin-bottom: 0;
    }

    .bx-upload {
        font-size: 1.4rem;
        cursor: pointer;
        margin-top: 1%;
    }
</style>
<!-- sample modal content -->
<div id="exampleModalFullscreen" class="modal fade" tabindex="-1" aria-labelledby="#exampleModalFullscreenLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalFullscreenLabel">입고서</h5>
                <div>
                    <button class="btn btn-light waves-effect ">초기화</button>
                    <button type="button" class="btn-close ms-5" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>

            <div class="modal-body">
                {% csrf_token %}
                    <div class="row justify-content-center">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row align-items-center">
                                    <label for="location_select select2" class="col-sm-2 col-form-label">위치 <span class="red_font">*</span></label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="location_select" name="location_select">
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-6">
                                <div class="form-group row align-items-center">
                                    <label for="location_select" class="col-sm-2 col-form-label">작성일</label>
                                    <div class="col-sm-6">
                                        <div class="input-group" id="modal_datepicker1">
                                            <input type="text" class="form-control" id="fixed_date" name="fixed_date" placeholder="today" readonly>
                                        </div><!-- input-group -->
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row mt-5">
                            <div class="col-lg-6">
                                <div class="form-group row align-items-center">
                                    <label for="location_select" class="col-sm-2 col-form-label">입고처 <span class="red_font">*</span></label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="init_place_select" id="init_place_select">
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-6">
                                <div class="form-group row align-items-center">
                                    <label for="location_select" class="col-sm-2 col-form-label">입고(예정)일 <span
                                            class="red_font">*</span></label>
                                    <div class="col-sm-6">
                                        <div class="input-group" id="modal_datepicker2">
                                            <input type="text" class="form-control" placeholder="입고(예정)일"
                                                   data-date-format="yyyy-mm-dd" data-date-container='#modal_datepicker2'
                                                   data-provide="datepicker" id="due_date" name="due_date"/>
    
                                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                        </div><!-- input-group -->
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-xxl-11 mt-5">
                            <div class="row justify-content-between">
                                <div class="col-lg-4 d-flex justify-content-start">
                                    <h4>품목정보</h4>
                                </div>
                                <div class="col-lg-4 d-flex justify-content-end">
                                    <button type="button" class="btn btn-outline-dark waves-effect waves-light w-50">바코드 스캔
                                    </button>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-12">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-nowrap align-middle" id="item_table">
                                                <thead>
                                                <tr>
                                                    <th style="width: 15%">품목 <span class="red_font">*</span></th>
                                                    <th style="width: 15%">입고 상태</th>
                                                    <th style="width: 10%">현재 재고</th>
                                                    <th style="width: 10%">단가</th>
                                                    <th style="width: 10%">입고 수량 <span class="red_font">*</span></th>
                                                    <th style="width: 15%">속성</th>
                                                    <th>메모</th>
                                                    <th>첨부파일</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tableBody">
                                                <tr data-id="1">
                                                    <td>
                                                        <select class="form-control item_select" name="item_select" id="item_select">
                                                            
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-control" name="in_status" id="in_status">
                                                            <option disabled selected>입고상태를 선택 해주세요</option>
                                                            <option value="F">입고 완료</option>
                                                            <option value="P">부분 입고</option>
                                                            <option value="W">입고 대기</option>
                                                            <option value="C">입고 취소</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                      <input type="text" class="form-control" name="current_quan" id="current_quan" readonly 
                                                             data-toggle="tooltip" data-placement="top" title="현재 재고는 '재고 조정' 메뉴에서만 수정이 가능합니다.">
                                                    </td>
                                                    <td><input type="text" class="form-control" name="unit_price" id="unit_price"></td>
                                                    <td><input type="text" class="form-control" name="in_quan" id="in_quan"></td>
                                                    <td>
                                                        <select class="form-control status_select" id="in_type" name="in_type">
                                                            <option disabled selected>속성을 선택 해주세요</option>
                                                            <option value="P">구매 입고</option>
                                                            <option value="M">생산 입고</option>
                                                            <option value="C">재고 조정</option>
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" id="memo" name="memo"></td>
                                                    <td data-field="file" class="file-click">
                                                        <input type="file" class="file-upload" id="formFile1" name="formFile1">
                                                        <label for="formFile1" class="bx-upload-label">
    {#                                                        <i class="fas fa-upload file-icon"></i>#}
                                                            <i class="bx bx-upload"></i>
                                                        </label>
                                                        <span class="file-name"></span>
                                                    </td>
                                                </tr>
                                                
                                                </tbody>
                                            </table>
                                            <div class="d-flex justify-content-end">
                                                <button class="btn btn-soft-dark waves-effect waves-light" id="addRowBtn"><i class="bx bx-plus-circle"></i> 행 추가</button>
                                            </div>
    
                                            <template id="newRowTemplate">
                                                <tr data-id="1">
                                                    <td>
                                                        <select class="form-control item_select" name="item_select" id="item_select">
                                                            
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-control" name="in_status" id="in_status">
                                                            <option disabled selected>입고상태를 선택 해주세요</option>
                                                            <option value="F">입고 완료</option>
                                                            <option value="P">부분 입고</option>
                                                            <option value="W">입고 대기</option>
                                                            <option value="C">입고 취소</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                      <input type="text" class="form-control" name="current_quan" id="current_quan" readonly 
                                                             data-toggle="tooltip" data-placement="top" title="현재 재고는 '재고 조정' 메뉴에서만 수정이 가능합니다.">
                                                    </td>
                                                    <td><input type="text" class="form-control" name="unit_price" id="unit_price"></td>
                                                    <td><input type="text" class="form-control" name="in_quan" id="in_quan"></td>
                                                    <td>
                                                        <select class="form-control status_select" id="in_type" name="in_type">
                                                            <option disabled selected>속성을 선택 해주세요</option>
                                                            <option value="P">구매 입고</option>
                                                            <option value="M">생산 입고</option>
                                                            <option value="C">재고 조정</option>
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" name="memo"></td>
                                                    <td data-field="file" class="file-click">
                                                        <input type="file" class="file-upload" name="formFile">
                                                        <label class="bx-upload-label">
                                                            <i class="bx bx-upload"></i>
                                                        </label>
                                                        <span class="file-name"></span>
                                                    </td>
                                                </tr>
                                            </template>
                                        </div>
                                    </div>
                                </div> <!-- container-fluid -->
                            </div>
                            <!-- End Page-content -->
                        </div>
                        
                        <div class="col-xxl-11">
                            <input type="hidden" id="ItemInHidden" name="ItemInHidden">
                            <div>
                                <input class="modal_checkbox me-3" type="checkbox" id="immediately_check" name="immediately_check"/>
                                <span>입고 내역을 저장하고 즉시 입고 처리합니다.</span>
                            </div>
                        </div>
                        
                        <div class="col-xxl-11 mt-5">
                            <div>
                                <button type="button" class="btn btn-primary waves-effect waves-light" id="create_btn" onclick="add_init()">저장</button>
{#                                <button type="button" class="btn btn-primary waves-effect waves-light" id="update_btn" onclick="edit_init()">저장</button>#}
                                <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">돌아가기</button>
                            </div>
                        </div>
                    </div>
            </div>
            {% include 'Material/init_mgmt/plus_location_modal.html' %}
            {% include 'Material/init_mgmt/plus_customer_modal.html' %}
            {% include 'Material/init_mgmt/plus_item_modal.html' %}
            
        </div><!-- /.modal-content -->
    </div>
</div>
<script src="{% static 'js/common.js' %}"></script>
<script>
    
    $(document).ready(function () {
        let itemData = null;

        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
          
          $('#current_quan').on('click', function(e) {
            e.preventDefault();
            $(this).tooltip('show');
          });
        });
        
        // itemData ajax 요청
        function fetchItemData() {
            
            return $.ajax({
                url: "{% url 'get_item_masters' %}",
                type: "GET"
            });
        }

        // item_select 초기화
        function initSelect2(element) {
            $(element).select2({
                dropdownParent: $('#exampleModalFullscreen'),
                data: function () {
                    return itemData || [];
                }
            });
        }

        // item_select 업데이트 함수
        function loadAndUpdateSelect2(element) {
            if (itemData) {
                console.log('item', itemData)
                updateSelect2WithData(element, itemData);
            } else {
                fetchItemData().done(function (res) {
                    itemData = res.results;
                    updateSelect2WithData(element, itemData);
                }).fail(function (xhr, status, error) {
                    console.error("Error fetching items:", error);
                });
            }
        }

        // 모달이 열릴 때마다 검색 입력란에 포커스 설정
        $('#exampleModalFullscreen').on('shown.bs.modal', function () {
            $('.select2-search__field').focus();
        });

        function getTodayDate() {
            const today = new Date();
            const year = today.getFullYear();
            const month = ('0' + (today.getMonth() + 1)).slice(-2);
            const day = ('0' + today.getDate()).slice(-2);
            return year + '-' + month + '-' + day;
        }

        $('#fixed_date').val(getTodayDate());


        // 첨부파일
        $('#tableBody').on('change', '.file-upload', function (event) {
            const fileInput = $(this);
            const fileNameSpan = fileInput.siblings('.file-name');
            const fileIcon = fileInput.siblings('.bx-upload-label').find('i');

            if (fileInput[0].files.length > 0) {
                const fileName = fileInput[0].files[0].name;
                fileNameSpan.text(fileName);

                // 파일 아이콘 변경
                const fileExtension = fileName.split('.').pop().toLowerCase();
                let fileIconClass = 'fas fa-file';
                if (fileExtension === 'pdf') {
                    fileIconClass = 'fas fa-file-pdf';
                } else if (fileExtension === 'doc' || fileExtension === 'docx') {
                    fileIconClass = 'fas fa-file-word';
                } else if (fileExtension === 'xls' || fileExtension === 'xlsx') {
                    fileIconClass = 'fas fa-file-excel';
                } else if (fileExtension === 'jpg' || fileExtension === 'jpeg' || fileExtension === 'png') {
                    fileIconClass = 'fas fa-file-image';
                }

                fileIcon.attr('class', fileIconClass + ' file-icon');
            } else {
                fileNameSpan.text('');
                fileIcon.attr('class', 'bx bx-upload');
            }
        });

        // 행 추가 클릭 시 테이블 행 추가
        $('#addRowBtn').click(function () {
            var template = $('#newRowTemplate').html();
            var $newRow = $(template);

            // ID 생성 및 할당
            var uniqueId = 'formFile' + Date.now();
            $newRow.find('.file-upload').attr('id', uniqueId);
            $newRow.find('.bx-upload-label').attr('for', uniqueId);

            $('#tableBody').append($newRow);

            // 추가된 행의 select 초기화 및 데이터 로드
            var $newSelect = $newRow.find('.item_select');
            initSelect2($newSelect);
            loadAndUpdateSelect2($newSelect);
        });
        
        
        // select option '품목 추가' 클릭 시 모달창 팝업
        $('.item_select').change(function () {
            if ($(this).val() === 'add_item') {
                $('#item_modal').modal('show')
                $(this).val('Select');
            }
        });

        // select2 데이터 업데이트 함수
        function updateSelect2WithData(element, data) {
            var $select = $(element);
            // 기존 옵션 제거
            $select.empty();
        
            // "품목을 선택해주세요" 옵션 추가
            var $defaultOption = new Option("품목을 선택해주세요", "", true, true);
            $defaultOption.disabled = true;
            $select.append($defaultOption);
        
            // 받은 데이터로 옵션 추가
            $.each(data, function (index, item) {
                var optionText = item.item_name;
                var option = new Option(optionText, item.id, false, false);
                $(option).data('item', item);
                $select.append(option);
            });
        
            // "품목 추가" 옵션 그룹 추가
            var $optgroup = $('<optgroup label="-------------------------"></optgroup>');
            var $addItemOption = $('<option value="add_item">+ 품목 추가</option>');
            $optgroup.append($addItemOption);
            $select.append($optgroup);
        
            // Select2에 변경사항 알림
            $select.trigger('change');
        }
        
        // item_select2 선택 이벤트 처리
        $(document).on('select2:select', '.item_select', function (e) {
            var data = e.params.data;
            var $row = $(this).closest('tr');
            
            if (data.id === 'add_item') {
                console.log("품목 추가 옵션 선택됨");
                // 품목 추가 모달 열기 등의 로직
                $(this).val(null).trigger('change');
            } else {
                var item = $(e.params.data.element).data('item');
                if (item) {
                    $row.find('[name="current_quan"]').val(item.current_quan);
                    $row.find('[name="unit_price"]').val(item.unit_prise_item__unit_price);
                    // 다른 필드들도 필요에 따라 추가
                }
            }
        });

        // 초기 Select2 요소에 대한 이벤트 처리
        $(document).on('select2:opening', '.item_select', function (e) {
            loadAndUpdateSelect2(this);
        });

        // 초기 데이터 로드 (페이지 로드 시 이미 존재하는 select 요소들에 대해)
        $('.item_select').each(function () {
            initSelect2(this);
            loadAndUpdateSelect2(this);
        });


    })
    
     // 위치 select2 초기화 및 데이터 생성
    $('#location_select').select2({
        placeholder: '위치를 선택해주세요',
        allowClear: true,
        minimumInputLength: 0,
        dropdownParent: $('#exampleModalFullscreen'),
        ajax: {
            url: "{% url 'GetWarehouse' %}",
            dataType: 'json',
            data: function (params) {
                return {
                    search: params.term,
                    page: params.page
                };
            },
            processResults: function (data) {
                var processedData = data.result.map(function (location) {
                    return {
                        id: location.id,
                        text: location.name
                    };
                });
                processedData.push({
                    id: 'add_location',
                    text: '+ 위치 추가',
                    disabled: false
                });
                return {
                    results: processedData
                };
            },
        }
    });
   
    // select option '위치 추가' 클릭 시 모달창 팝업
    $('#location_select').change(function () {
        if ($(this).val() === 'add_location') {
            $('#location_modal').modal('show')
            $(this).val('Select');
        }
    });
    
    // 입고처 select2 초기화 및 데이터 생성
    $('#init_place_select').select2({
        placeholder: '입고처를 선택해주세요',
        allowClear: true,
        minimumInputLength: 0,
        dropdownParent: $('#exampleModalFullscreen'),
        ajax: {
            url: "{% url 'GetCustomer' %}",
            dataType: 'json',
            data: function (params) {
                return {
                    search: params.term,
                    page: params.page
                };
            },
            processResults: function (data) {
                var processedData = data.result.map(function (customer) {
                    return {
                        id: customer.id,
                        text: customer.c_name
                    };
                });
                processedData.push({
                    id: 'add_customer',
                    text: '+ 거래처 추가',
                    disabled: false
                });
                return {
                    results: processedData
                };
            }
        },
    });

    // select option '거래처 추가' 클릭 시 모달창 팝업
    $('#init_place_select').change(function () {
        if ($(this).val() === 'add_customer') {
            $('#customer_modal').modal('show')
            $(this).val('Select');
        }
    });


     function add_init() {
        var tableData = [];
        var formData = new FormData();
        var item_id = $("#ItemInHidden").val()
         console.log('item_idid', item_id)

        // 테이블 데이터 수집
        $('#tableBody tr').each(function (index) {
            var row = $(this);
            var rowData = {
                item: row.find('.item_select').val(),
                status: row.find('[name="in_status"]').val(),
                current_quan: row.find('[name="current_quan"]').val(),
                unit_price: row.find('[name="unit_price"]').val(),
                in_quan: row.find('[name="in_quan"]').val(),
                in_type: row.find('[name="in_type"]').val(),
                memo: row.find('[name="memo"]').val()
            };

            // 파일 처리
            var fileInput = row.find('.file-upload')[0];
            if (fileInput.files.length > 0) {
                formData.append('file_' + index, fileInput.files[0]);
            }

            tableData.push(rowData);
        });

        // 테이블 데이터를 JSON 문자열로 변환하여 FormData에 추가
        formData.append('tableData', JSON.stringify(tableData));
        
        if (item_id) {
            formData.append('item_in_id', item_id);    
        }

        // 다른 input 요소 데이터 수집 (예시)
        formData.append('location_select', $('#location_select').val());
        formData.append('fixed_date', $('#fixed_date').val());
        formData.append('init_place_select', $('#init_place_select').val());
        formData.append('due_date', $('#due_date').val());
        formData.append('immediately_check', $('#immediately_check').val());
        formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
         
        $.ajax({
            url: "{% url 'InputCreate' %}",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (res) {
                alert(res.message)
                updateSelect2('location_select', '', '');
                updateSelect2('init_place_select', '' , '');
                updateSelect2('item_select', '', '');
                $("#in_status, #current_quan, #unit_price, #in_quan, #in_type, #memo, #ItemInHidden, #due_date").val('');
            },
            error: function (xhr, status, error) {
                alert("오류가 발생했습니다: " + xhr.responseJSON.error);
            }
        })
    }
   
    
</script>
