{% load static %}
<style>
    
    #item_table th, tbody {
        text-align: center;
        vertical-align: middle !important;
    }

    #item_table th {
        background-color: #eeeeee;
    }
    
    .modal_checkbox {
        transform: scale(1.5);
    }

    .file-upload {
        display: none;
    }

    .bx-upload-label {
        cursor: pointer;
        margin-bottom: 0;
    }

    .bx-upload {
        font-size: 1.4rem;
        cursor: pointer;
        margin-top: 1%;
    }
</style>
<!-- sample modal content -->
<div id="exampleModalFullscreen" class="modal fade" tabindex="-1" aria-labelledby="#exampleModalFullscreenLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalFullscreenLabel">입고서</h5>
                <div>
                    <button class="btn btn-light waves-effect ">초기화</button>
                    <button type="button" class="btn-close ms-5" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>

            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group row align-items-center">
                                <label for="location_select select2" class="col-sm-2 col-form-label">위치 <span class="red_font">*</span></label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="location_select">
                                        <option>Select</option>
                                        <optgroup label="Alaskan/Hawaiian Time Zone">
                                            <option value="AK">Alaska</option>
                                            <option value="HI">Hawaii</option>
                                        </optgroup>
                                        <optgroup label="Pacific Time Zone">
                                            <option value="CA">California</option>
                                            <option value="NV">Nevada</option>
                                            <option value="OR">Oregon</option>
                                            <option value="WA">Washington</option>
                                        </optgroup>
                                        <optgroup label="----------------------------------------------------------">
                                            <option value="add_location">+  위치 추가</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group row align-items-center">
                                <label for="location_select" class="col-sm-2 col-form-label">작성일</label>
                                <div class="col-sm-6">
                                    <div class="input-group" id="modal_datepicker1">
                                        <input type="text" class="form-control" id="fixed_date" placeholder="today" readonly>
                                    </div><!-- input-group -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <div class="form-group row align-items-center">
                                <label for="location_select" class="col-sm-2 col-form-label">입고처 <span class="red_font">*</span></label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="state" id="init_place_select">
                                        <option>Select</option>
                                        <optgroup label="Alaskan/Hawaiian Time Zone">
                                            <option value="AK">Alaska</option>
                                            <option value="HI">Hawaii</option>
                                        </optgroup>
                                        <optgroup label="Pacific Time Zone">
                                            <option value="CA">California</option>
                                            <option value="NV">Nevada</option>
                                            <option value="OR">Oregon</option>
                                            <option value="WA">Washington</option>
                                        </optgroup>
                                        <optgroup label="----------------------------------------------------------">
                                            <option value="add_customer">+  거래처 추가</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group row align-items-center">
                                <label for="location_select" class="col-sm-2 col-form-label">입고(예정)일 <span
                                        class="red_font">*</span></label>
                                <div class="col-sm-6">
                                    <div class="input-group" id="modal_datepicker2">
                                        <input type="text" class="form-control" placeholder="입고(예정)일"
                                               data-date-format="yyyy-mm-dd" data-date-container='#modal_datepicker2'
                                               data-provide="datepicker">

                                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                    </div><!-- input-group -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-11 mt-5">
                        <div class="row justify-content-between">
                            <div class="col-lg-4 d-flex justify-content-start">
                                <h4>품목정보</h4>
                            </div>
                            <div class="col-lg-4 d-flex justify-content-end">
                                <button type="button" class="btn btn-outline-dark waves-effect waves-light w-50">바코드 스캔
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-nowrap align-middle" id="item_table">
                                            <thead>
                                            <tr>
                                                <th style="width: 15%">품목 <span class="red_font">*</span></th>
                                                <th>현재 재고</th>
                                                <th>단가</th>
                                                <th>입고 수량 <span class="red_font">*</span></th>
                                                <th>속성</th>
                                                <th>메모</th>
                                                <th>첨부파일</th>
                                                <th>저장</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tableBody">
                                            <tr data-id="1">
                                                <td data-field="name1" class="no-edit">
                                                    <select class="form-control" name="state" id="item_select">
                                                        <option>Select</option>
                                                        <optgroup label="Alaskan/Hawaiian Time Zone">
                                                            <option value="AK">Alaska</option>
                                                            <option value="HI">Hawaii</option>
                                                        </optgroup>
                                                        <optgroup label="Pacific Time Zone">
                                                            <option value="CA">California</option>
                                                            <option value="NV">Nevada</option>
                                                            <option value="OR">Oregon</option>
                                                            <option value="WA">Washington</option>
                                                        </optgroup>
                                                        <optgroup label="-------------------------">
                                                            <option value="add_item">+  품목 추가</option>
                                                        </optgroup>
                                                    </select>
                                                </td>
                                                <td data-field="name2">David McHenry</td>
                                                <td data-field="name3">David McHenry</td>
                                                <td data-field="age">24</td>
                                                <td data-field="status">구매</td>
                                                <td data-field="gender">Male</td>
                                                <td data-field="file" class="file-click no-edit">
                                                    <input type="file" class="file-upload" id="formFile1">
                                                    <label for="formFile1" class="bx-upload-label">
{#                                                        <i class="fas fa-upload file-icon"></i>#}
                                                        <i class="bx bx-upload"></i>
                                                    </label>
                                                    <span class="file-name"></span>
                                                </td>
                                                <td style="width: 5%">
                                                    <a class="btn btn-outline-secondary btn-sm edit" title="Save">
                                                        <i class="bx bx-save" style="font-size: large"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            
                                            </tbody>
                                        </table>
                                        <div class="d-flex justify-content-end">
                                            <button class="btn btn-soft-dark waves-effect waves-light" id="addRowBtn"><i class="bx bx-plus-circle"></i> 행 추가</button>
                                        </div>

                                        <template id="newRowTemplate">
                                            <tr>
                                                <td data-field="name1" class="no-edit">
                                                    <select class="form-control" name="state">
                                                        <option>Select</option>
                                                        <optgroup label="Alaskan/Hawaiian Time Zone">
                                                            <option value="AK">Alaska</option>
                                                            <option value="HI">Hawaii</option>
                                                        </optgroup>
                                                    </select>
                                                </td>
                                                <td><input type="text" class="form-control" name="current_stock"></td>
                                                <td><input type="text" class="form-control" name="unit_price"></td>
                                                <td><input type="text" class="form-control" name="quantity"></td>
                                                <td><input type="text" class="form-control" name="status"></td>
                                                <td><input type="text" class="form-control" name="memo"></td>
                                                <td class="file-click no-edit">
                                                    <input type="file" class="file-upload">
                                                    <label class="bx-upload-label">
                                                        <i class="bx bx-upload"></i>
                                                    </label>
                                                    <span class="file-name"></span>
                                                </td>
                                                <td style="width: 5%">
                                                    <a class="btn btn-outline-secondary btn-sm edit" title="Save">
                                                        <i class="bx bx-save" style="font-size: large"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </template>
                                    </div>
                                </div>
                            </div> <!-- container-fluid -->
                        </div>
                        <!-- End Page-content -->
                    </div>
                    
                    <div class="col-xxl-11">
                        <div>
                            <input class="modal_checkbox me-3" type="checkbox"/>
                            <span>입고 내역을 저장하고 즉시 입고 처리합니다.</span>
                        </div>
                    </div>
                    
                    <div class="col-xxl-11 mt-5">
                        <div>
                            <button type="button" class="btn btn-primary waves-effect waves-light">저장</button>                            
                            <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">돌아가기</button>
                        </div>
                    </div>
                        
                    
                </div>
            </div>
            {% include 'Material/init_mgmt/plus_location_modal.html' %}
            {% include 'Material/init_mgmt/plus_customer_modal.html' %}
            {% include 'Material/init_mgmt/plus_item_modal.html' %}
            
        </div><!-- /.modal-content -->
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#location_select, #init_place_select, #item_select').select2({
            dropdownParent: $('#exampleModalFullscreen')
        });

        // 모달이 열릴 때마다 검색 입력란에 포커스 설정
        $('#exampleModalFullscreen').on('shown.bs.modal', function () {
            $('.select2-search__field').focus();
        });

       

        function getTodayDate() {
            const today = new Date();
            const year = today.getFullYear();
            const month = ('0' + (today.getMonth() + 1)).slice(-2);
            const day = ('0' + today.getDate()).slice(-2);
            return year + '-' + month + '-' + day;
        }

        $('#fixed_date').val(getTodayDate());

        
        // 첨부파일
        $('#formFile1').on('change', function (event) {
            const fileInput = $(this);
            console.log('fileInput', fileInput)
            const fileNameSpan = fileInput.next().next('.file-name');
            if (fileInput[0].files.length > 0) {
                const fileName = fileInput[0].files[0].name;
                fileNameSpan.text(fileName);

                // 파일 아이콘 변경
                const fileExtension = fileName.split('.').pop().toLowerCase();
                let fileIconClass = 'fas fa-file';
                if (fileExtension === 'pdf') {
                    fileIconClass = 'fas fa-file-pdf';
                } else if (fileExtension === 'doc' || fileExtension === 'docx') {
                    fileIconClass = 'fas fa-file-word';
                } else if (fileExtension === 'xls' || fileExtension === 'xlsx') {
                    fileIconClass = 'fas fa-file-excel';
                } else if (fileExtension === 'jpg' || fileExtension === 'jpeg' || fileExtension === 'png') {
                    fileIconClass = 'fas fa-file-image';
                }

                const fileIcon = fileInput.next().find('.bx-upload'); // 아이콘을 찾는 부분
                fileIcon.attr('class', fileIconClass + ' file-icon');
            } else {
                fileNameSpan.text('');
                fileInput.next().find('.file-icon').attr('class', 'bx bx-upload');
            }
        });

        
        // editable table
        $('#item_table tbody').on('dblclick', 'td', function () {
            var $td = $(this);

            // 품목, 첨부파일, 수정 칸은 편집 X
            if ($td.is('[data-field="name1"]') || $td.hasClass('file-click') || $td.find('.edit').length > 0) {
                return;
            }

            var originalContent = $td.text().trim();
            var $input = $('<input>', {
                type: 'text',
                class: 'form-control',
                value: originalContent,
                blur: function () {
                    var newContent = $(this).val().trim();
                    $td.text(newContent);
                },
                keyup: function (e) {
                    if (e.which === 13) { // Enter key
                        $(this).blur();
                    }
                }
            });

            $td.html($input);
            $input.focus().select();
        });

        // 다른 곳 클릭 시 input blur 처리
        $(document).on('click', function (e) {
            var $target = $(e.target);
            if (!$target.closest('td').find('input').length) {
                $('td').find('input').blur();
            }
        });
        

        // "위치 추가" 옵션 클릭 이벤트 핸들러
        $('#location_select').change(function () {
            if ($(this).val() === 'add_location') {
                $('#location_modal').modal('show')
                $(this).val('Select');
            }
        });
        
        $('#init_place_select').change(function () {
            if ($(this).val() === 'add_customer') {
                $('#customer_modal').modal('show')
                $(this).val('Select');
            }
        });
        
        $('#item_select').change(function () {
            if ($(this).val() === 'add_item') {
                $('#item_modal').modal('show')
                $(this).val('Select');
            }
        });
        
        $('#addRowBtn').click(function () {
            var template = $('#newRowTemplate').html();
            $('#tableBody').append(template);

            $('#tableBody select').select2({
                dropdownParent: $('#exampleModalFullscreen')
            });
        });
    
    })
</script>
