{% load static %}
<div id="edit_modal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">거래처 추가</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <form id="edit_form">
                <input type="hidden" id="c_id" name="c_id">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="card">
                        <div class="col-xxl-12">
                            <label class="form-label">거래처명 <span class="red_font">*</span></label>
                            <input class="form-control" type="text" id="edit_c_name" name="edit_c_name" placeholder="거래처 이름을 입력해주세요" required/>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="row">
                            <div class="col-xxl-6">
                                <label class="form-label">사업자 번호 <span class="red_font">*</span></label>
                                <input class="form-control" type="text" id="edit_business_num" name="edit_business_num" placeholder="사업자 번호를 입력해주세요" required/>
                            </div>
                            
                            <div class="col-xxl-3">
                                <label class="form-label">업태</label>
                                <input class="form-control" type="text" id="edit_business_type" name="edit_business_type" placeholder="업태" required/>
                            </div>
                            
                            <div class="col-xxl-3">
                                <label class="form-label">종목</label>
                                <input class="form-control" type="text" id="edit_business_sort" name="edit_business_sort" placeholder="종목" required/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="row">
                            <div class="col-xxl-6">
                                <label class="form-label">주소</label>
                                <input class="form-control" type="text" id="edit_address" name="edit_address" placeholder="주소를 입력해주세요" required/>
                            </div>
                            
                            <div class="col-xxl-6">
                                <label class="form-label">대표자명 <span class="red_font">*</span></label>
                                <input class="form-control" type="text" id="edit_owner_name" name="edit_owner_name" placeholder="대표자 이름을 입력해주세요" required/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="row">
                            <div class="col-xxl-6">
                                <label class="form-label">대표 전화번호</label>
                                <input class="form-control" type="text" id="edit_official_tel" name="edit_official_tel" placeholder="번호를 입력해주세요" required/>
                            </div>
                            
                            <div class="col-xxl-6">
                                <label class="form-label">대표 이메일</label>
                                <input class="form-control" type="text" id="edit_official_email" name="edit_official_email" placeholder="이메일을 입력해주세요" required/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="row">
                            <div class="col-xxl-6">
                                <label class="form-label">담당자 전화번호</label>
                                <input class="form-control" type="text" id="edit_manager_tel" name="edit_manager_tel" placeholder="번호를 입력해주세요" required/>
                            </div>
                            
                            <div class="col-xxl-6">
                                <label class="form-label">담당자 이메일</label>
                                <input class="form-control" type="text" id="edit_manager_email" name="edit_manager_email" placeholder="이메일을 입력해주세요" required/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="col-xxl-12">
                            <label class="form-label">메모</label>
                            <textarea class="form-control" type="text" id="edit_memo" name="edit_memo" placeholder="메모를 입력해주세요"></textarea>
                        </div>
                    </div>
                </div>
            
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">취소</button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light">저장</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(document).ready(function () {
        $('#edit_form').on('submit', function (event) {
            event.preventDefault();

            // 유효성 검사
            let isValid = true;
            $(this).find(':input[required]').each(function () {
                if ($(this).val().trim() === '') {
                    $(this).addClass('is-invalid');
                    isValid = false;
                } else {
                    $(this).removeClass('is-invalid').addClass('is-valid'); // valid-feedback 적용
                }
            });

            if (isValid) {
                let formData = $(this).serializeArray();
                formData.push({name: 'csrfmiddlewaretoken', value: $('input[name=csrfmiddlewaretoken]').val()});
                formData.push({name: 'type', value: 'E'});

                $.ajax({
                    url: "{% url 'CustomerUpdate' %}", 
                    type: 'POST',
                    data: formData,
                    success: function (res) {
                        alert(res.message);
                        location.reload()
                    },
                    error: function (xhr, status, error) {
                        alert('오류가 발생했습니다: ' + error);
                    }
                });
            }
        });
    });
</script>