{% load static %}
<!-- sample modal content -->
<div id="edit_modal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalFullscreenLabel">멤버 수정</h5>
            </div>

            <form id="user_form" class="needs-validation" novalidate>
                <input type="hidden" id="user_id" name="user_id"/>
                {% csrf_token %}
                <div class="modal-body">
                    <div class="card">
                        <div class="col-xxl-12">
                            <label class="form-label">이름 <span class="red_font">*</span></label>
                            <input class="form-control form-required" type="text" id="username" name="username" placeholder="이름을 입력해주세요" required/>
                        </div>
                    </div>

                    <div class="card">
                        <div class="row">
                            <div class="col-xxl-6">
                                <label class="form-label">소속</label>
                                <select class="form-control form-required" id="department_position" name="department_position" required>
                                    
                                </select>
                            </div>

                            <div class="col-xxl-6">
                                <label class="form-label">권한 <span class="red_font">*</span></label>
                                <select class="form-control form-required" id="auth" name="auth" required>
                                    <option disabled>유저의 권한을 선택해주세요.</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Member">Member</option>
                                    <option value="Viewer">Viewer</option>
                                </select>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="row">
                            <div class="col-xxl-6">
                                <label class="form-label">이메일</label>
                                <input class="form-control" type="text" id="email" name="email" placeholder="이메일을 입력해주세요"/>
                            </div>
                            
                            <div class="col-xxl-6">
                                <label class="form-label">전화번호</label>
                                <input class="form-control" type="text" id="tel" name="tel" placeholder="전화번호를 입력해주세요"/>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="col-xxl-12">
                            <label class="form-label">메모</label>
                            <textarea class="form-control" type="text" id="memo" name="memo" placeholder="메모를 입력해주세요"></textarea>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-soft-primary waves-effect waves-light">저장</button>
                    <button type="button" class="btn btn-soft-secondary waves-effect waves-light" data-bs-dismiss="modal">취소</button>
                </div>
            </form>
            
        </div><!-- /.modal-content -->
    </div>
</div>




<script>
    $(document).ready(function () {
        $('#user_form').on('submit', function (event) {
            event.preventDefault();

            // 유효성 검사
            let isValid = true;
            $(this).find('.form-required').each(function () {
                if ($(this).val() === '') {
                    $(this).addClass('is-invalid'); // invalid-feedback 적용
                    isValid = false;
                } else {
                    $(this).removeClass('is-invalid').addClass('is-valid'); // valid-feedback 적용
                }
            });

            if (isValid) {
                let formData = $(this).serializeArray();
                formData.push({name: 'csrfmiddlewaretoken', value: $('input[name=csrfmiddlewaretoken]').val()});
                formData.push({name: 'type', value: 'E'});

                $.ajax({
                    url: "{% url 'MemberUpdate' %}", 
                    type: 'POST',
                    data: formData,
                    success: function (res) {
                        alert(res.message);
                        location.reload()
                    },
                    error: function (xhr, status, error) {
                        alert('오류가 발생했습니다: ' + error);
                    }
                });
            }
        });
    });
</script>