<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    {% include "header.html" %}

</head>
<style>
    th:first-child .sorting,
    th:first-child .sorting_asc,
    th:first-child .sorting_desc {
        display: none !important;
    }
    
    #dept_datatable th:first-child {
        text-align: center;
        vertical-align: middle;
    }
    
    .dataTables_wrapper .top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .dataTables_wrapper .dataTables_filter {
        order: 1; /* 검색란을 오른쪽으로 */
        margin-left: auto;
    }

    .dataTables_wrapper .dt-buttons {
        order: 0; /* 버튼을 왼쪽으로 */
    }    
</style>
<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title mb-5">Department Management Table</h4>

                <table id="dept_datatable" class="table table-bordered dt-responsive  nowrap w-100 mt-5">
                    <thead>
                    <tr>
                        <th><input class type="checkbox" id="select_all"></th>
                        <th>순번</th>
                        <th>부서코드</th>
                        <th>부서명</th>
                        <th>메모</th>
                    </tr>
                    </thead>


                    <tbody>
                    <tr>
                        <td></td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>2011/07/25</td>
                        <td>$170,750</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>Finn Camacho</td>
                        <td>Support Engineer</td>
                        <td>San Francisco</td>
                        <td>2009/07/07</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>Serge Baldwin</td>
                        <td>Data Coordinator</td>
                        <td>Singapore</td>
                        <td>2012/04/09</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>Zenaida Frank</td>
                        <td>Software Engineer</td>
                        <td>New York</td>
                        <td>2010/01/04</td>
                    </tr>
                    
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% include 'footer.html' %}
<script>
    let dept_datatable = null;

    $(document).ready(function () {
        dept_datatable = new DataTable('#dept_datatable', {
            lengthChange: false, // 데이터 건수 select false
            columnDefs: [
                {
                    targets: 0,
                    orderable: false,
                    className: 'table-active dt-body-center',
                    render: function (data, type, full, meta) {
                        return '<input type="checkbox" name="id[]" value="">';
                    }
                }
            ],
            drawCallback: function () {
                $('#dept_datatable th:first-child').removeClass('sorting sorting_asc sorting_desc');
            },
            dom: '<"top"Bf>rt<"bottom"ip><"clear">',
            buttons: [
                {
                    className: "btn btn-soft-primary waves-effect waves-light",
                    text: '등록',
                    action: function (e, dt, node, config) {
                        alert('등록');
                    }
                },
                {
                    className: "btn btn-soft-primary waves-effect waves-light",
                    text: '수정',
                    action: function (e, dt, node, config) {
                        alert('수정');
                    }
                },
                { 
                    className: "btn btn-soft-primary waves-effect waves-light",
                    text: '삭제',
                    action: function (e, dt, node, config) {
                        alert('삭제');
                    }
                }
            ]
        })

    });

    // "select_all" 체크박스 전체 선택
    function selectAllCheckboxes(checked) {
        var rows = dept_datatable.rows({'search': 'applied'}).nodes();
        $('input[type="checkbox"]', rows).prop('checked', checked);
    }

    // "select_all" 체크박스 클릭 이벤트
    $('#select_all').on('click', function () {
        selectAllCheckboxes(this.checked);
    });

    // 개별 행 체크박스 클릭 이벤트
    $('#dept_datatable tbody').on('change', 'input[type="checkbox"]', function () {
        if (!this.checked) {
            var el = $('#select_all').get(0);
            if (el && el.checked && ('indeterminate' in el)) {
                el.indeterminate = true;
            }
        }
    });
    
    
</script>
</body>
</html>