<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    {% include "header.html" %}

    <!-- dragula css -->
    {% comment %}<link href="{% static 'skote/assets/libs/dragula/dragula.min.css' %}" rel="stylesheet" type="text/css" />{% endcomment %}
    <!-- easyui -->
    <link href="{% static 'easy/themes/default/easyui.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'easy/themes/icon.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'easy/demo.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'easy/themes/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'easy/themes/js/jquery.easyui.min.js' %}"></script>
    {% comment %}<script src="{% static 'easy/themes/js/jquery.min.js' %}"></script>{% endcomment %}

    {% comment %}<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>{% endcomment %}
    {% comment %}<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>{% endcomment %}
    {% comment %}<script src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>{% endcomment %}

<script>
  {% comment %}$.ajaxSetup({
    headers: { "X-CSRFToken": '{{csrf_token}}' }
  });{% endcomment %}
</script>
    <style>
        .select2-container--open .select2-dropdown--below {
            top: -2% !important;
            margin-top: 0px !important;
        }
    </style>
    
</head>
{{ ep.media }}
{% csrf_token %}
<div class="col-lg-12">
    <div class="row-no-gutters p-3">
        <div class="col-lg-12">


                    <div class="mb-3 row">
                        <div id="dropdown-container" class="col-lg-4 row">
                            <label for="" class="col-md-2 col-form-label"><h4 class="card-title mb-4">업체코드</h4></label>
                            <div class="col-md-10">
                                {{ ep.enterprise_name_ac }}
                            </div>
                        </div>
                        <div class="col-lg-4 row">
                            <label for="" class="col-md-2 col-form-label"><h4 class="card-title mb-4">사용자</h4></label>
                            <div class="col-md-10">
                                <select class="form-control form-control-sm" id="id_client_name" style="width: 100%;" >
{#                                    {{ ep.client_name_ac }}#}
                                </select>
                            </div>
                        </div>
                    </div>


        </div>


        <div class="row p-3">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">상위메뉴</h4>


                    <div id="lmenu-task" class="pb-1 font-size-24" style="display: flex; flex-wrap: wrap;">

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <form class="app-search d-none d-lg-block">
                        <div class="position-relative">
                            <input type="text" class="form-control" id="upcoming_search" placeholder="Search...">
                            <span class="bx bx-search-alt"></span>
                        </div>
                    </form>
                    <h4 class="card-title mb-4">추천메뉴</h4>
                    <div class="row mb-4">
                        <div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-primary font-size-24" style="display: flex; flex-wrap: wrap;">
                                        <div style="margin-right: 5px">
                                            <span style="margin-right: 8px; margin-bottom: 8px; border-radius: 6px; background-color: #EFEFEF"
                                                    class="badge badge-soft text-body drag-list" data-target="L" value="1000">재고입고</span>
                                        </div>
                                        <div style="margin-right: 5px">
                                            <span style="margin-right: 8px; margin-bottom: 8px; border-radius: 6px; background-color: #EFEFEF"
                                                    class="badge badge-soft text-body drag-list">재고출고</span>
                                        </div>
                                        <div style="margin-right: 5px">
                                            <span style="margin-right: 8px; margin-bottom: 8px; border-radius: 6px; background-color: #EFEFEF"
                                                    class="badge badge-soft text-body drag-list">재고조정</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="card-title mb-4">하위메뉴</h4>
                    <div>
                        <div id="upcoming-task" class="pb-1 task-list font-size-24" style="display: flex; flex-wrap: wrap;">

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2>메뉴를 구성해주세요.</h2>

                    <div class="text-center" style="padding:5px">
                        <div class="row border rounded" style="height: 80px;">
                            <div class="col-sm-12 pt-2 d-flex justify-content-center align-items-center" id="trash" style="width: 100%; height: 100%;">
                                <div class="mt-4 mt-sm-0">
                                    <p class="mb-2 text-center"><img class="me-2" src="{% static 'img/trash.png' %}"> 삭제를 원하는 메뉴를 넣어주세요.</p>
                                </div>
                            </div>
                        </div>
                    </div>

        {% comment %}<div class="easyui-panel" id="trash">aaaaaaa</div>{% endcomment %}

                    <div class="easyui-panel" style="width: 100%">
                        <ul id="easytree"></ul>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-12 row justify-content-end">
                            <button class="btn btn-info waves-effect waves-light mt-3" onclick="menusave()" style="width: 20%;">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>
</div>
{% comment %}{% static 'easy/tree_data1.json' %}{% endcomment %}

        <!-- dragula plugins -->

        {% comment %}<script src="{% static 'skote/assets/libs/dragula/dragula.min.js' %}"></script>

        <!-- jquery-validation -->
        <script src="{% static 'skote/assets/libs/jquery-validation/jquery.validate.min.js' %}"></script>

        <script src="{% static 'skote/assets/js/pages/task-kanban.init.js' %}"></script>

        <script src="{% static 'skote/assets/js/pages/task-form.init.js' %}"></script>

        <script src="{% static 'skote/assets/js/app.js' %}"></script>{% endcomment %}
</body>
<script>
    let deletedNodes = [];
    
    $(document).ready(function () {

        selectEvent();

    });

    function userDrag() {

        $('.task-box').draggable({
            helper: 'clone',
            revert: 'invalid'
        });

        $('.drag-list').draggable({
            helper: 'clone',
            revert: 'invalid'
        });

        // 트리 노드도 드래그 가능하게 설정
        $('#easytree').tree({
            dnd: true,
            onBeforeDrop: function (target, source, point) {
                let targetNode = $('#easytree').tree('getNode', target);
                let draggedItemType = $(source).attr('data-target') || source.iconCls === 'icon-menul' ? 'L' : 'S';

                // 트리에서 타 상위 메뉴에 하위로 들어갈 수 없도록
                if (draggedItemType === 'L' && targetNode && (targetNode.iconCls === 'icon-menul' || targetNode.iconCls === 'icon-menus')) {
                    alert('상위 메뉴는 다른 상위 메뉴나 하위 메뉴의 하위로 들어갈 수 없습니다.');
                    return false;
                }
            }
        });


        // 트리 영역을 드롭 가능하게 설정
        $('#easytree').droppable({
            accept: '.drag-list',
            onDrop: function (event, source) {
                //console.log('event', event)
                //console.log('source', $(source))
                let tree = $('#easytree');
                let node = tree.tree('getSelected');

                // 드롭된 요소의 텍스트와 id를 가져옴
                let draggedItemText = $(source).text();
                let draggedItemValue = $(source).attr('value');
                let draggedItemType = $(source).attr('data-target')
                let iconcls = 'icon-menus'

                if (draggedItemType === 'L') {
                    iconcls = 'icon-menul'
                }
                //console.log('node', node)

                // 처음 드랍 할 때 타 상위 메뉴에 하위로 들어갈 수 없도록
                if ((draggedItemType === 'L' && node && (node.iconCls === 'icon-menul' || node.iconCls === 'icon-menus'))) {
                    alert('상위 메뉴는 다른 상위 메뉴나 하위 메뉴의 하위로 들어갈 수 없습니다.');
                    return false;
                }

                // 트리에 노드 추가
                tree.tree('append', {
                    parent: (node ? node.target : null),
                    data: [{
                        id: draggedItemValue, text: draggedItemText, iconCls: iconcls
                    }]
                });
                // drop 된 후 숨김
                $(source).hide();
            }
        });


        $('#trash').droppable({
            onDrop: function (event, source) {
                // drop 된 후 숨김
                let node = $('#easytree').tree('getNode', source);
                if (node) {
                    deletedNodes.push(node.id);
                    $('#easytree').tree('remove', node.target);
                }
            }
        });
    }

    function makeTreeUI(data) {
        //console.log(data)
        let treeData = []
        data.forEach(function (item) {
            if (item.menuauth__del_flag === "N") {
                if (item.type == 'L') {
                    // 상위 노드 추가
                    treeData.push({
                        id: item.id,
                        text: item.menuauth__alias,
                        iconCls: 'icon-menul',
                        children: []
                    });
                } else if (item.type == 'S') {
                    // 하위 노드 추가
                    let parent = treeData.find(parent => parent.id === item.menuauth__parent);
                    if (parent) {
                        parent.children.push({
                            id: item.id,
                            text: item.menuauth__alias,
                            iconCls: 'icon-menus'
                        });
                    }
                }
            }
        });
        // EasyUI Tree에 동적으로 생성한 JSON 데이터 로드
        $('#easytree').tree({
            data: treeData,
            animate: true,
            dnd: true,
            onDblClick: function (node) {
                $(this).tree('beginEdit', node.target);
            }
        });
        // drag영역 활성화
        userDrag();
    }

    function selectEvent(){

        $('#id_enterprise_name_ac').on('select2:select', function(e) {
        // 이벤트 발생 시 실행될 코드

        let selectedValue = e.params.data.id;
        api_gp(`/autocomplete/menumaster/client_name_ac`, "GET", {'enterPrise_id': selectedValue}, (done) => {
                   let data = done.results
            let option = ''


            $("#id_client_name").html('');

            for (let i = 0; i < data.length; i++) {
                let item = data[i];
                option = new Option(item.text, item.id, true, true);
                $("#id_client_name").append(option).select2().trigger('change');

            }

            option = new Option('선택', '', true, true);
            $("#id_client_name").append(option)


            $('#id_client_name').change(function() {
                  let user_id = $(this).val();

                if(user_id.length >= 1){
                    getUseLmenulist(user_id);
                }

                });

                })
      });
    }

    function getUseLmenulist(user_id){
        let client = $('#id_enterprise_name_ac').val();
        api_gp(`/basic_information/getlmenulist/`, "GET", {'client': client, 'user_id': user_id}, (done) => {

            let data = done
                    drawListbyUser(data);
            //console.table(data);

                })
    }

    function drawListbyUser(data) {
        //console.table(data)
        let useable = data.useablemenu;
        let used = data.usedmenu;

        // 메뉴 리스트 라이브 검색
        function renderList(keyword) {
            let rMList = '';
            let rSList = '';

            // 상위 메뉴는 라이브 검색 X
            useable.forEach(function (sub) {
                let element_name = sub.menuauth__alias ? sub.menuauth__alias : sub.name;
                if (sub.type == 'L') {
                    rMList += "<div style='margin-right: 8px; margin-bottom: 8px; border-radius: 6px; background-color: #EFEFEF'><span class='badge badge-soft text-body drag-list' data-target='L' value="
                    rMList += sub.id;
                    rMList += ">" + element_name + '</span></div>';
                }
            });

            // 하위 메뉴 라이브 검색 필터링
            useable.forEach(function (sub) {
                let element_name = sub.menuauth__alias ? sub.menuauth__alias : sub.name;
                if (sub.type == 'S' && (!keyword || sub.name.toLowerCase().includes(keyword.toLowerCase()))) {
                    rSList += "<div style='margin-right: 8px; margin-bottom: 8px; border-radius: 6px; background-color: #EFEFEF'><span class='badge badge-soft text-body drag-list' data-target='S' value=";
                    rSList += sub.id;
                    rSList += ">" + element_name + '</span></div>';
                }
            });

            $('#lmenu-task').html(rMList);
            $('#upcoming-task').html(rSList);

            $('.drag-list').draggable({
                helper: 'clone',
                revert: 'invalid'
            });

        }

        // 기존 메뉴 구성
        makeTreeUI(used);

        // 초기화
        renderList('');

        // 검색 시 함수 호출
        $('#upcoming_search').on('input', function () {
            let keyword = $(this).val();
            renderList(keyword);
        });
    }

    function menusave(){
        let roots = $('#easytree').tree('getRoots');
        let user_id = $("#id_client_name option:selected").val();
        let menuidlist = [];
        let menunamelist = [];
        let parentlist = [];

        //console.table(roots)

            // 각 루트 노드에 대해 자식 노드 가져오기
        roots.forEach(function(root) {
            //console.log("target   : " + root.target);
            if (typeof root.target === 'undefined'){
                //console.log("not target!!!!!");
                return
            }else{
                 let children = $('#easytree').tree('getChildren', root.target);
                {% comment %}allData.push({
                    id: root.id,
                    text: root.text,
                    children: children
                });{% endcomment %}
            menuidlist.push(root.id);
            menunamelist.push(root.text);
            parentlist.push(0);
            children.forEach(function (item){
                menuidlist.push(item.id);
                menunamelist.push(item.text);
                parentlist.push(root.id);
            })
            }

            });


        let allData = {
                menulist: menuidlist,
                menunamelist: menunamelist,
                parentlist: parentlist,
                user_id: user_id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }

            //console.log(allData);

        {#api_gp(`/basic_information/setmenubyuser/`, "post", allData, (response) => {#}
        {#            done = done.success#}
        {#    console.log('done', done)#}
        {#    if(done){#}
        {#        alert('등록완료');#}
        {#    }#}
        {##}
        {#        });#}
        $.ajax({
            url: "{% url 'setmenubyuser' %}",
            type: "POST",
            data: allData,
            success : function (res) {
                alert("저장 완료")
                window.top.location.reload(true);
            }
        })

    }


</script>
</html>