{% load static %}
<style>
    
    #item_table th, tbody {
        text-align: center;
        vertical-align: middle !important;
    }

    #item_table th {
        background-color: #eeeeee;
    }
    
    .modal_checkbox {
        transform: scale(1.5);
    }

    .file-upload {
        display: none;
    }

    .bx-upload-label {
        cursor: pointer;
        margin-bottom: 0;
    }

    .bx-upload {
        font-size: 1.4rem;
        cursor: pointer;
        margin-top: 1%;
    }
    
    .hidden-column {
        display: none;
    }
</style>
<!-- sample modal content -->
<div id="exampleModalFullscreen" class="modal fade" tabindex="-1" aria-labelledby="#exampleModalFullscreenLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalFullscreenLabel">출고서</h5>
                <div>
                    <button class="btn btn-light waves-effect" onclick="reset_form()">초기화</button>
                    <button type="button" class="btn-close ms-5" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>

            <div class="modal-body">
                <form id="output_form" class="needs-validation" novalidate>
                {% csrf_token %}
                    <div class="row justify-content-center">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row align-items-center">
                                    <label for="location_select select2" class="col-sm-2 col-form-label">위치 <span class="red_font">*</span></label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="location_select" name="location_select" required>
                                            <option value="" disabled selected hidden>위치를 선택해주세요</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-6">
                                <div class="form-group row align-items-center">
                                    <label for="location_select" class="col-sm-2 col-form-label">작성일</label>
                                    <div class="col-sm-6">
                                        <div class="input-group" id="modal_datepicker1">
                                            <input type="text" class="form-control" id="fixed_date" name="fixed_date" placeholder="today" readonly>
                                        </div><!-- input-group -->
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row mt-5">
                            <div class="col-lg-6">
                                <div class="form-group row align-items-center">
                                    <label for="location_select" class="col-sm-2 col-form-label">출고처 <span class="red_font">*</span></label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="init_place_select" id="init_place_select" required>
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-6">
                                <div class="form-group row align-items-center">
                                    <label for="location_select" class="col-sm-2 col-form-label">출고(예정)일 <span
                                            class="red_font">*</span></label>
                                    <div class="col-sm-6">
                                        <div class="input-group" id="modal_datepicker2">
                                            <input type="text" class="form-control" placeholder="출고(예정)일"
                                                   data-date-format="yyyy-mm-dd" data-date-container='#modal_datepicker2'
                                                   data-provide="datepicker" id="out_date" name="out_date" 
                                                   autocomplete="off" required/>
    
                                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                        </div><!-- input-group -->
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-xxl-11 mt-5">
                            <div class="row justify-content-between">
                                <div class="col-lg-4 d-flex justify-content-start">
                                    <h4>품목정보</h4>
                                </div>
                                <div class="col-lg-4 d-flex justify-content-end">
                                    <button type="button" class="btn btn-outline-dark waves-effect waves-light w-50">바코드 스캔
                                    </button>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-12">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-nowrap align-middle" id="item_table">
                                                <thead>
                                                <tr>
                                                    <th style="width: 15%">입고 목록 <span class="red_font">*</span></th>
                                                    <th style="width: 15%">출고 상태 <span class="red_font">*</span></th>
                                                    <th style="width: 10%">현재 재고 <span class="red_font">*</span></th>
                                                    <th style="width: 10%">단가 <span class="red_font">*</span></th>
                                                    <th style="width: 10%">출고 수량 <span class="red_font">*</span></th>
                                                    <th style="width: 15%">속성 <span class="red_font">*</span></th>
                                                    <th>메모</th>
                                                    <th>첨부파일</th>
                                                    <th class="hidden-column"></th>
                                                </tr>
                                                </thead>
                                                <tbody id="tableBody">
                                                <tr data-id="1">
                                                    <td>
                                                        <select class="form-control item_select" name="item_select" id="item_select" required>
                                                            
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-control" name="out_status" id="out_status" required>
                                                            <option value="" disabled selected hidden>출고상태를 선택 해주세요</option>
                                                            <option value="F">출고 완료</option>
                                                            <option value="P">부분 출고</option>
                                                            <option value="W">출고 대기</option>
                                                            <option value="C">출고 취소</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                      <input type="text" class="form-control" name="current_quan" id="current_quan" readonly 
                                                             data-toggle="tooltip" data-placement="top" title="현재 재고는 '재고조정' 메뉴에서만 수정이 가능합니다.">
                                                    </td>
                                                    <td><input type="number" class="form-control" name="unit_price" id="unit_price" required></td>
                                                    <td><input type="number" class="form-control" name="out_quan" id="out_quan" required></td>
                                                    <td>
                                                        <select class="form-control status_select" id="out_type" name="out_type" required>
                                                            <option value="" disabled selected hidden>속성을 선택 해주세요</option>
                                                            <option value="P">구매 출고</option>
                                                            <option value="M">생산 출고</option>
                                                            <option value="C">재고 조정</option>
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" id="memo" name="memo"></td>
                                                    <td data-field="file" class="file-click">
                                                        <input type="file" class="file-upload" id="formFile1" name="formFile1">
                                                        <label for="formFile1" class="bx-upload-label">
    {#                                                        <i class="fas fa-upload file-icon"></i>#}
                                                            <i class="bx bx-upload"></i>
                                                        </label>
                                                        <span class="file-name"></span>
                                                    </td>
                                                    <td class="hidden-column"><input class="form-control" id="stock_id" name="stock_id"></td>
                                                </tr>
                                                
                                                </tbody>
                                            </table>
                                            <div class="d-flex justify-content-end">
                                                <button class="btn btn-soft-dark waves-effect waves-light" id="addRowBtn"><i class="bx bx-plus-circle"></i> 행 추가</button>
                                            </div>
    
                                            <template id="newRowTemplate">
                                                <tr data-id="1">
                                                    <td>
                                                        <select class="form-control item_select" name="item_select" id="item_select" required>
                                                            
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select class="form-control" name="out_status" id="out_status" required>
                                                            <option value="" disabled selected hidden>출고상태를 선택 해주세요</option>
                                                            <option value="F">출고 완료</option>
                                                            <option value="P">부분 출고</option>
                                                            <option value="W">출고 대기</option>
                                                            <option value="C">출고 취소</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                      <input type="text" class="form-control" name="current_quan" id="current_quan" readonly 
                                                             data-toggle="tooltip" data-placement="top" title="현재 재고는 '재고 조정' 메뉴에서만 수정이 가능합니다.">
                                                    </td>
                                                    <td><input type="text" class="form-control" name="unit_price" id="unit_price" required></td>
                                                    <td><input type="text" class="form-control" name="out_quan" id="out_quan" required></td>
                                                    <td>
                                                        <select class="form-control status_select" id="out_type" name="out_type" required>
                                                            <option value="" disabled selected hidden>속성을 선택 해주세요</option>
                                                            <option value="P">구매 출고</option>
                                                            <option value="M">생산 출고</option>
                                                            <option value="C">재고 조정</option>
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" id="memo" name="memo"></td>
                                                    <td data-field="file" class="file-click">
                                                        <input type="file" class="file-upload" id="formFile1" name="formFile1">
                                                        <label for="formFile1" class="bx-upload-label">
    {#                                                        <i class="fas fa-upload file-icon"></i>#}
                                                            <i class="bx bx-upload"></i>
                                                        </label>
                                                        <span class="file-name"></span>
                                                    </td>
                                                    <td class="hidden-column"><input class="form-control" id="stock_id" name="stock_id"></td>
                                                    <td>
                                                        <button class="btn btn-danger btn-sm deleteRowBtn">
                                                            <i class="bx bx-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </template>
                                        </div>
                                    </div>
                                </div> <!-- container-fluid -->
                            </div>
                            <!-- End Page-content -->
                        </div>
                        
                        <div class="col-xxl-11">
                            <input type="hidden" id="ItemInHidden" name="ItemInHidden">
                            <div>
                                <input class="modal_checkbox me-3" type="checkbox" id="immediately_check" name="immediately_check"/>
                                <span>출고 내역을 저장하고 즉시 입고 처리합니다.</span>
                            </div>
                        </div>
                        
                        <div class="col-xxl-11 mt-5">
                            <div>
                                <button type="button" class="btn btn-primary waves-effect waves-light" id="create_btn" onclick="add_init()">저장</button>
{#                                <button type="button" class="btn btn-primary waves-effect waves-light" id="update_btn" onclick="edit_init()">저장</button>#}
                                <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">돌아가기</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% include 'Material/init_mgmt/plus_location_modal.html' %}
            {% include 'Material/init_mgmt/plus_customer_modal.html' %}
            {% include 'Material/init_mgmt/plus_item_modal.html' %}
            
        </div><!-- /.modal-content -->
    </div>
</div>
<script src="{% static 'js/common.js' %}"></script>
<script>
    function getTodayDate() {
        const today = new Date();
        const year = today.getFullYear();
        const month = ('0' + (today.getMonth() + 1)).slice(-2);
        const day = ('0' + today.getDate()).slice(-2);
        return year + '-' + month + '-' + day;
    }
    
    $(document).ready(function () {
        $('#fixed_date').val(getTodayDate());
        let itemData = null;

        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
          
          $('#current_quan').on('click', function(e) {
            e.preventDefault();
            $(this).tooltip('show');
          });
        });
        
        // itemData ajax 요청
        function fetchItemData() {
            return $.ajax({
                url: "{% url 'GetStock' %}",
                type: "POST",
                headers: {
                    "X-CSRFToken": $('input[name=csrfmiddlewaretoken]').val()
                }
            });
        }

        // item_select 초기화
        function initSelect2(element) {
            $(element).select({
                dropdownParent: $('#exampleModalFullscreen'),
                data: function () {
                    return itemData || [];
                }
            });
        }

        // item_select 업데이트 함수
        function loadAndUpdateSelect2(element) {
            if (itemData) {
                console.log('item', itemData)
                updateSelectWithData(element, itemData);
            } else {
                fetchItemData().done(function (res) {
                    itemData = res.data;
                    console.log('itemdata', res.data)
                    updateSelectWithData(element, itemData);
                }).fail(function (xhr, status, error) {
                    console.error("Error fetching items:", error);
                });
            }
        }

        // 모달이 열릴 때마다 검색 입력란에 포커스 설정
        $('#exampleModalFullscreen').on('shown.bs.modal', function () {
            $('.select2-search__field').focus();
        });


        // 첨부파일
        $('#tableBody').on('change', '.file-upload', function (event) {
            const fileInput = $(this);
            const fileNameSpan = fileInput.siblings('.file-name');
            const fileIcon = fileInput.siblings('.bx-upload-label').find('i');

            if (fileInput[0].files.length > 0) {
                const fileName = fileInput[0].files[0].name;
                fileNameSpan.text(fileName);

                // 파일 아이콘 변경
                const fileExtension = fileName.split('.').pop().toLowerCase();
                let fileIconClass = 'fas fa-file';
                if (fileExtension === 'pdf') {
                    fileIconClass = 'fas fa-file-pdf';
                } else if (fileExtension === 'doc' || fileExtension === 'docx') {
                    fileIconClass = 'fas fa-file-word';
                } else if (fileExtension === 'xls' || fileExtension === 'xlsx') {
                    fileIconClass = 'fas fa-file-excel';
                } else if (fileExtension === 'jpg' || fileExtension === 'jpeg' || fileExtension === 'png') {
                    fileIconClass = 'fas fa-file-image';
                }

                fileIcon.attr('class', fileIconClass + ' file-icon');
            } else {
                fileNameSpan.text('');
                fileIcon.attr('class', 'bx bx-upload');
            }
        });

        // 행 추가 클릭 시 테이블 행 추가
        $('#addRowBtn').click(function (e) {
            e.preventDefault()
            var template = $('#newRowTemplate').html();
            var $newRow = $(template);

            // ID 생성 및 할당
            var uniqueId = 'formFile' + Date.now();
            $newRow.find('.file-upload').attr('id', uniqueId);
            $newRow.find('.bx-upload-label').attr('for', uniqueId);

            $('#tableBody').append($newRow);

            // 추가된 행의 select 초기화 및 데이터 로드
            var $newSelect = $newRow.find('.item_select');
            initSelect2($newSelect);
            loadAndUpdateSelect2($newSelect);
        });
        
        // 행 삭제 기능
        $(document).on('click', '.deleteRowBtn', function(e) {
            e.preventDefault();
            var $row = $(this).closest('tr');
            $row.remove();
        });

        // select2 데이터 업데이트 함수
        function updateSelectWithData(element, data) {
            var $select = $(element);
            // 기존 옵션 제거
            $select.empty();

            // "품목을 선택해주세요" 옵션 추가
            var $defaultOption = new Option("품목을 선택해주세요", "", true, true);
            $defaultOption.disabled = true;
            $select.append($defaultOption);

            // 받은 데이터로 옵션 추가
            $.each(data, function (index, item) {
                var optionText = item.item_name;
                var option = new Option(optionText + ' - ' + item.wh_name, item.item_id, false, false);
                $(option).data('item', item);
                $select.append(option);
            });
            
        }
        
        // item_select 선택 이벤트 처리
        $(document).on('change', '.item_select', function (e) {
            var $row = $(this).closest('tr');
            var item = $(this).find('option:selected').data('item');
            if (item) {
                $row.find('[name="current_quan"]').val(item.quantity);
                $row.find('[name="unit_price"]').val(item.unit_price);
                $row.find('[name="stock_id"]').val(item.id);
            }
        });

        // 초기 Select2 요소에 대한 이벤트 처리
        $(document).on('select2:opening', '.item_select', function (e) {
            loadAndUpdateSelect2(this);
        });

        // 초기 데이터 로드 (페이지 로드 시 이미 존재하는 select 요소들에 대해)
        $('.item_select').each(function () {
            initSelect2(this);
            loadAndUpdateSelect2(this);
        });

        // 위치 select
        $.ajax({
            url: "{% url 'GetWarehouse' %}",
            dataType: 'json',
            success: function (data) {
                var $locationSelect = $('#location_select');
                $locationSelect.empty();
                $locationSelect.append('<option value="" disabled selected hidden>위치를 선택해주세요</option>');

                // 옵션 생성
                data.result.forEach(function (location) {
                    $locationSelect.append(new Option(location.name, location.id));
                });

                var $boundaryGroup = $('<optgroup label="----------------"></optgroup>');
                $locationSelect.append($boundaryGroup);

                // 추가 옵션
                $locationSelect.append(new Option('+ 위치 추가', 'add_location'));
            },
            error: function (xhr, status, error) {
                console.error("데이터를 가져오는 중 오류가 발생했습니다: ", error);
            }
        });
        
        // 입고처 select
        $.ajax({
            url: "{% url 'GetCustomer' %}",
            dataType: 'json',
            success: function (data) {
                var $CustomerSelect = $('#init_place_select');
                $CustomerSelect.empty();
                $CustomerSelect.append('<option value="" disabled selected hidden>출고처를 선택해주세요</option>');

                // 옵션 생성
                data.result.forEach(function (customer) {
                    $CustomerSelect.append(new Option(customer.c_name, customer.id));
                });

                var $boundaryGroup = $('<optgroup label="----------------"></optgroup>');
                $CustomerSelect.append($boundaryGroup);

                // 추가 옵션
                $CustomerSelect.append(new Option('+ 거래처 추가', 'add_customer'));
            },
            error: function (xhr, status, error) {
                console.error("데이터를 가져오는 중 오류가 발생했습니다: ", error);
            }
        });
    })
    
    
     // 위치 select2 초기화 및 데이터 생성
    /*
    $('#location_select').select2({
        placeholder: '위치를 선택해주세요',
        allowClear: true,
        minimumInputLength: 0,
        dropdownParent: $('#exampleModalFullscreen'),
        ajax: {
            url: "{% url 'GetWarehouse' %}",
            dataType: 'json',
            data: function (params) {
                return {
                    search: params.term,
                    page: params.page
                };
            },
            processResults: function (data) {
                var processedData = data.result.map(function (location) {
                    return {
                        id: location.id,
                        text: location.name
                    };
                });
                processedData.push({
                    id: 'add_location',
                    text: '+ 위치 추가',
                    disabled: false
                });
                return {
                    results: processedData
                };
            },
        }
    });
    */
   
    // select option '위치 추가' 클릭 시 모달창 팝업
    $('#location_select').change(function () {
        if ($(this).val() === 'add_location') {
            $('#location_modal').modal('show')
            $(this).val('Select');
        }
    });
    
    // 입고처 select2 초기화 및 데이터 생성
    /*
    $('#init_place_select').select2({
        placeholder: '입고처를 선택해주세요',
        allowClear: true,
        minimumInputLength: 0,
        dropdownParent: $('#exampleModalFullscreen'),
        ajax: {
            url: "{% url 'GetCustomer' %}",
            dataType: 'json',
            data: function (params) {
                return {
                    search: params.term,
                    page: params.page
                };
            },
            processResults: function (data) {
                var processedData = data.result.map(function (customer) {
                    return {
                        id: customer.id,
                        text: customer.c_name
                    };
                });
                processedData.push({
                    id: 'add_customer',
                    text: '+ 거래처 추가',
                    disabled: false
                });
                return {
                    results: processedData
                };
            }
        },
    });
    */

    // select option '거래처 추가' 클릭 시 모달창 팝업
    $('#init_place_select').change(function () {
        if ($(this).val() === 'add_customer') {
            $('#customer_modal').modal('show')
            $(this).val('Select');
        }
    });
    
    // select option '품목 추가' 클릭 시 모달창 팝업
    $('.item_select').change(function () {
        if ($(this).val() === 'add_item') {
            $('#item_modal').modal('show')
            $(this).val('Select');
        }
    });


     function add_init() {
         var form = document.getElementById('output_form');
         
         if (form.checkValidity() === false) {
             form.classList.add('was-validated');
             return false
         }
         
        var tableData = [];
        var formData = new FormData();
        var item_id = $("#ItemInHidden").val()

        // 테이블 데이터 수집
        $('#tableBody tr').each(function (index) {
            var row = $(this);
            var rowData = {
                item: row.find('.item_select').val(),
                status: row.find('[name="out_status"]').val(),
                current_quan: row.find('[name="current_quan"]').val(),
                unit_price: row.find('[name="unit_price"]').val(),
                out_quan: row.find('[name="out_quan"]').val(),
                out_type: row.find('[name="out_type"]').val(),
                memo: row.find('[name="memo"]').val(),
                stock_id: row.find('[name="stock_id"]').val(),
            };

            // 파일 처리
            var fileInput = row.find('.file-upload')[0];
            if (fileInput.files.length > 0) {
                formData.append('file_' + index, fileInput.files[0]);
            }

            tableData.push(rowData);
        });

        // 테이블 데이터를 JSON 문자열로 변환하여 FormData에 추가
        formData.append('tableData', JSON.stringify(tableData));
        
        if (item_id) {
            formData.append('item_in_id', item_id);    
        }

        // 다른 input 요소 데이터 수집 (예시)
        formData.append('location_select', $('#location_select').val());
        formData.append('fixed_date', $('#fixed_date').val());
        formData.append('init_place_select', $('#init_place_select').val());
        formData.append('out_date', $('#out_date').val());
        formData.append('immediately_check', $('#immediately_check').val());
        formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
         
        $.ajax({
            url: "{% url 'OutputCreate' %}",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (res) {
                alert(res.message)
                {#updateSelect2('location_select', '', '');#}
                {#updateSelect2('init_place_select', '' , '');#}
                {#updateSelect2('item_select', '', '');#}
                {#$("#out_status, #current_quan, #unit_price, #out_quan, #out_type, #memo, #ItemInHidden, #out_date").val('');#}
                location.reload()
            },
            error: function (xhr, status, error) {
                alert("오류가 발생했습니다: " + xhr.responseJSON.error);
            }
        })
    }

    function reset_form() {
        var form = document.getElementById('output_form');
        form.reset();

        // 동적으로 추가된 행 제거
        $('#tableBody').find('tr').not(':first').remove(); // 첫 번째 행을 제외한 나머지 행 제거

        // 업로드 초기화
        $('.file-upload').each(function () {
            $(this).val(''); // 파일 입력 필드 값 초기화
            $(this).siblings('.file-name').text(''); // 파일 이름 초기화
            $(this).siblings('.bx-upload-label').find('i').attr('class', 'bx bx-upload'); // 아이콘 초기화
        });
        
        $('#fixed_date').val(getTodayDate());
    }
    
</script>
